<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Zobpress - Get your Job Board live with in minutes</title>
<link href="css/reset.css" rel="stylesheet" type="text/css" />
<link href="css/styles.css" rel="stylesheet" type="text/css" />
</head>
<body class="login">
<div id="wrapper">
  <!--Header starts-->
  <div id="header"><a href="index.html"><img src="images/zobpress_logo.gif" alt="Zob Press Logo" width="315" height="67" /></a></div>
  <!--Header Ends-->
  <!--Top Navigation Starts-->
  <div id="top_navigation">
  </div>
  <!--Top Navigation ends-->

  <!--content starts-->
  
  <div id="landingpage">
  <div id="left"></div>
   <div id="right">
   <div class="middle">fasfas</div>
   	<div class="bottom"></div>
   </div>
  </div>
  <!--content starts-->
</div>
<div class="clear"></div>
<div id="footer">
<div id="footerlinks"><a href="{% url sitewide_index %}">Home</a> <a href="{% url sitewide_features %}">Features</a> <a href="{% url sitewide_demo %}">Demo</a> <a href="{% url sitewide_pricing %}">Pricing</a> <a href="{% url sitewide_support %}">Support</a> <a href="{% url sitewide_contact %}">Contact Us</a>
  <div class="onepixelborder"></div>
  <div id="footericons">
    <div id="email">
      <p class="email">Contact us at :<br/>
        <a href="mailto:support@jobboardshq.com" class="redlink">hello@jobboardshq.com</a></p>
    </div>
    <div id="twitter">
      <p class="twitter">Follow us on Twitter<br/>
        <a href="http://twitter.com/ZobPress" target="_blank" class="redlink">http://twitter.com/jobboardshq</a></p>
    </div>
  </div>
  <div id="copyrights">&copy; Copyright 2010 Job Boards.com. All Rights Reserved</div>
</div>
</div>
</body>
</html>
