{% extends 'registration/base.html' %}

{% block content %}

{% if account %}
<div id="leftpanel_innerpage">
  <div id="login_bg">
    <p> You have successfully activated your account. Next steps for you. </p>
    <ul>
      <li> <a href="{% url auth_login %}" class="meroonlink">Login</a> </li>
      <li> <a href="{{ account.get_profile.get_board.get_absolute_url }}{% url manage_index %}" class="meroonlink">Manage</a> </li>
      <li> <a href="{{ account.get_profile.get_board.get_absolute_url }}" class="meroonlink">See your board.</a> </li>
    </ul>
    <p> You currently have a free account which allows you to use JobBoardsHQ with a jobboardshq.com subdomain. You can upgrade your account,
      to be able to use your own domains with JobBoardsHQ. <a href="{{ account.get_profile.get_board.get_absolute_url }}{% url manage_index %}">Manage your site to upgrade.</a> </p>
    {% else %}
    <p> There was an error. </p>
    <ul>
      <li> <a href="{% url auth_login %}" class="meroonlink">Login</a> </li>
      <li> <a href="{% url manage_index %}" class="meroonlink">Manage</a> </li>
    </ul>
  </div>
</div>
{% endif %}

{% endblock %} 