{% extends 'registration/base.html' %}


{% block content %}
<div id="leftpanel_innerpage">
  <div id="login_bg">
  
    
      <form action="." method="post">
        <table width="300" border="0" cellspacing="0" cellpadding="0">
          {% csrf_token %}
          {% if form.non_field_errors %}
          {{ form.non_field_errors }}
          {% endif %}
          {% for field in form.visible_fields %}
          <tr>
            <td>{{ field.label_tag }} :</td>
          </tr>
          <tr>
            <td >  <div id="login_base"><span class="textfield_login">{{ field }}</span></div></td>
          </tr>
          {% if field.errors %}
          <tr>
            <td>{{ field.errors }}</td>
            {% endif %} </tr>
          {% endfor %}
         
            <tr>
         
            <td height="55" align="center" valign="bottom"><table width="157" border="0" align="center" cellpadding="0" cellspacing="0">
                <tr>
                  <td height="55" align="center" valign="bottom"><input type="submit" name="Login" value="Login"  class="button" /></td>
                </tr>
              </table></td>
          </tr>
          <tr>
            <td height="75" align="center" valign="bottom">First time here?</td>
          </tr>
          <tr>
            <td align="center" valign="middle" height="65"><a href="{% url sitewide_register_board %}">
              <img src="{{ MEDIA_URL }}sitewide/images/register_button.png" alt="Register" width="157" height="45" />            </a></td>
          </tr>
          <tr>
            <td align="center" valign="bottom">Or try our demo account.<br/> <a href="http://demoboard.jobboardshq.com" target="_blank" class="meroonlink">Job Board</a>   |    <a href="http://demoboard.jobboardshq.com/manage" class="meroonlink">Admin</a><br/>
              Username: demo    Password: demo </td>
          </tr>
        </table>
        <input type="hidden" name="next" value="{{ next }}" />
      </form>

  </div>
</div>
<!--     <form action="." method="post">
      <fieldset class="login_fieldset">
      <legend>Login</legend>
      <table width="100%" border="0" cellspacing="2" cellpadding="0">
        {% csrf_token %}
        {% if form.non_field_errors %}
        {{ form.non_field_errors }}
        {% endif %}
        {% for field in form.visible_fields %}
        <tr>
          <td align="left" class="contactlabel">{{ field.label_tag }} :</td>
          <td align="left" class="contact">{{ field }}</td>
        </tr>
        <tr> {% if field.errors %}
          <td align="left">&nbsp;</td>
          <td align="left">{{ field.errors }}</td>
          {% endif %} </tr>
        {% endfor %}
        <tr>
          <td align="left">&nbsp;</td>
          <td align="center"><input type="submit" name="Login" value="login"  class="contactsubmit" /></td>
        </tr>
      </table>
      <input type="hidden" name="next" value="{{ next }}" />
      </fieldset>
    </form>
-->
{% endblock %}