@charset "utf-8";
/* CSS Document */
body{ font-family:"trebuchet MS", Arial, Helvetica, sans-serif; }
body.frontend{background:url(../images/header_frontend_bg.gif) repeat-x; font-family:"trebuchet MS", Arial, Helvetica, sans-serif; font-size:11px; line-height:18px;}

/*Headings*/
h1{font:bold 18px "trebuchet MS",Verdana, Arial, Helvetica, sans-serif; color:#9C0000; text-decoration:none; line-height:24px; letter-spacing:-1px; padding-bottom:8px;}
h2{font:bold 16px "trebuchet MS",Verdana, Arial, Helvetica, sans-serif; color:#9C0000; text-decoration:none; line-height:20px;}
h3{font:bold 14px "trebuchet MS",Verdana, Arial, Helvetica, sans-serif; color:#9C0000; text-decoration:none; line-height:20px;}
h4{font:bold 12px "trebuchet MS",Verdana, Arial, Helvetica, sans-serif; color:#9C0000; text-decoration:none; line-height:24px;}
h5{font:bold 11px "trebuchet MS",Verdana, Arial, Helvetica, sans-serif; color:#9C0000; text-decoration:none; line-height:18px;}
h6{font:11px "trebuchet MS",Verdana, Arial, Helvetica, sans-serif; color:#9C0000; text-decoration:none; line-height:18px;}


#frontend_wrapper{width:100%; margin:0px auto; font-family:"trebuchet MS",Verdana, Arial, Helvetica, sans-serif;}
#header_frontendcontainer{ margin:0px auto; width:960px;}

#header_frontend{ margin:0px auto; width:660px; height:90px; padding-top:25px; font:bold 24px "trebuchet MS",Verdana, Arial, Helvetica, sans-serif; color:#FFFFFF; text-decoration:none; float:left;}
#header_frontend a{ font:bold 24px "trebuchet MS",Verdana, Arial, Helvetica, sans-serif; color:#FFFFFF; text-decoration:none;}
#header_frontend a:hover{ font:bold 24px "trebuchet MS",Verdana, Arial, Helvetica, sans-serif; color:#D4C490; text-decoration:underline;}

#frontend_topnav{ margin:0px auto; width:300px; height:48px; text-align:right; font:bold 12px "trebuchet MS",Verdana, Arial, Helvetica, sans-serif; float:left;padding-top:35px;color:#FFFFFF;}
#frontend_topnav span.blacktext {color: #FBC900;}
#frontend_topnav a{  text-align:right; color:#FFFFFF; font:bold 12px "trebuchet MS",Verdana, Arial, Helvetica, sans-serif; line-height:48px; text-decoration:none; }
#frontend_topnav a:hover{  text-align:right; color:#000000; text-decoration:underline;}
#frontend_topnav #rssicon{  width:50px; height:48px; float:right;}

#frontend_searchbar{ clear:both; margin:0px auto; width:960px; height:83px; font-family:Verdana, Arial, Helvetica, sans-serif;}
#frontend_searchbar .searchjobs{ width:106px; height:83px; float:left;font: 14px "trebuchet MS",Verdana, Arial, Helvetica, sans-serif;line-height:83px; color:#682C00;}

#frontend_searchbar .searchfield{width:230px; height:56px; float:left; padding-top:27px; padding-left:10px;}
#frontend_searchbar .textfield{border:1px solid #C8AC84; padding:5px; width:210px;}
#frontend_searchbar .searchbutton{width:110px; height:58px; float:left; padding-top:25px;}
.searchinputbutton{ width:103px; height:35px; background-image:url(../images/search_but.png); background-repeat:no-repeat; border:0px; cursor:pointer;}
#frontend_searchbar .advancedsearch{width:176px; height:83px; float:left;}
.searchlink{font: bold 12px "trebuchet MS",Verdana, Arial, Helvetica, sans-serif;line-height:83px; color:#A10000; text-decoration:none;}
.searchlink:hover{font: bold 12px "trebuchet MS",Verdana, Arial, Helvetica, sans-serif;line-height:83px; color:#000000; text-decoration:underline;}
#frontend_searchbar .postjob{width:234px; height:51px; float:right; margin-top:15px; position:relative; background:url(../images/post_job_buttonnew.png) no-repeat; cursor:pointer;}
#frontend_searchbar .postjob:hover{width:234px; height:51px; float:right; margin-top:15px; position:relative; background:url(../images/post_job_buttonnew.png) no-repeat 0 -51px;}
#frontend_content{width:960px; margin:0px auto; }
#frontend_content #leftpanel{width:200px; float:left; margin:10px 0px 0px 0px;}
/*categories comtainer*/
#frontend_content #leftpanel #categories{width:200px;}
#frontend_content #leftpanel #categories .top{background:url(../images/categories_topbg.gif) top left; height:47px; font: bold 12px "trebuchet MS",Verdana, Arial, Helvetica, sans-serif;line-height:47px; padding-left:20px; color:#A10000;}
#frontend_content #leftpanel #categories .middle{border-left:1px solid #D8C7AF; border-right:1px solid #D8C7AF;}
#frontend_content #leftpanel #categories .middle ul{color:#000000;  }
#frontend_content #leftpanel #categories .middle li{background:url(../images/categories_listbg.gif) no-repeat; line-height:24px; padding-left:35px; color:#000000; text-decoration:none; }
#frontend_content #leftpanel #categories .middle li a{line-height:24px;  color:#000000; text-decoration:none;}
#frontend_content #leftpanel #categories .middle li a:hover {line-height:24px;  text-decoration:underline;color:#CC0000;  }
#frontend_content #leftpanel #categories .bottom{background:url(../images/categories_bottombg.gif) top left; height:12px;}
/*ends*/
/*explore comtainer*/
#frontend_content #leftpanel #explore{width:200px; margin-top:10px;}
#frontend_content #leftpanel #explore .top{background:url(../images/categories_topbg.gif) top left; height:47px; font: bold 12px "trebuchet MS",Verdana, Arial, Helvetica, sans-serif;line-height:47px; padding-left:20px; color:#A10000; }
#frontend_content #leftpanel #explore .middle{border-left:1px solid #D8C7AF; border-right:1px solid #D8C7AF;}
#frontend_content #leftpanel #explore .middle ul{color:#000000;  }
#frontend_content #leftpanel #explore .middle li{background:url(../images/categories_listbg.gif) no-repeat; line-height:24px; padding-left:35px; color:#000000; text-decoration:none; }
#frontend_content #leftpanel #explore .middle li a{line-height:24px;  color:#000000; text-decoration:none;}
#frontend_content #leftpanel #explore .middle li a:hover {line-height:24px;  text-decoration:underline;color:#CC0000;  }
#frontend_content #leftpanel #explore .bottom{background:url(../images/categories_bottombg.gif) top left; height:12px;}
/*ends*/
#frontend_content #leftpanel #newsletter{width:150px; margin:10px 0px 0px 0px; height:83px; background:url(../images/email_bg.png) no-repeat; padding:110px 25px 0px 25px; text-align:center;}
.newsletter_textfield{margin-bottom:5px; border:1px solid #630000; padding:3px; width:160px;}

#frontend_content #rightpanel{width:740px; float:left; margin:10px 0px 0px 20px;}
#frontend_footer{background-color:#000000; width:100%; margin:0px auto;  color:#FFFFFF; text-align:center; padding-top:20px; margin-top:15px; padding-bottom:20px;}
#frontend_footer a{background-color:#000000;  margin:0px auto;  color:#FFFFFF; text-align:center; }
#frontend_footer a:hover{background-color:#000000; width:100%; margin:0px auto;  color:#CC0000; text-align:center;}


#frontend_content #rightpanel .top{width:726px; background:url(../images/body_top.gif) no-repeat; height:14px; }
#frontend_content #rightpanel .middle{width:726px; ;background:url(../images/body_middlebg.gif) repeat-y; }
#frontend_content #rightpanel .bottom{width:726px;background:url(../images/body_bottom.gif) no-repeat; height:14px;}
#frontend_content #rightpanel .title{ font:bold 12px "trebuchet MS",Verdana, Arial, Helvetica, sans-serif; color:#A10000; text-decoration:none; padding:3px 0px 11px 0px;}
#frontend_content #rightpanel .border{ border-top:1px dashed #D9C6AC; height:1px;}
.colorbg{background-color:#F9F5EF; font:11px "trebuchet MS",Verdana, Arial, Helvetica, sans-serif;line-height:28px; color:#000000; text-decoration:none;}
.whitebg{background-color:#FFFFFF; font:11px "trebuchet MS",Verdana, Arial, Helvetica, sans-serif;line-height:28px; color:#000000; text-decoration:none;}
.redtext{ font:bold 11px "trebuchet MS",Verdana, Arial, Helvetica, sans-serif;color:#A10000; text-decoration:none;}
.redtext:hover{ font:bold 11px "trebuchet MS",Verdana, Arial, Helvetica, sans-serif;color:#000000; text-decoration:underline;}
.apply_button{background:url(../images/apply_bg.png); width:52px; height:20px;font:11px "trebuchet MS",Verdana, Arial, Helvetica, sans-serif;color:#000000; text-decoration:none; text-align:center; line-height:20px; display:block;}
.apply_button a{background:url(../images/apply_bg.png); width:52px; height:20px;font:11px "trebuchet MS",Verdana, Arial, Helvetica, sans-serif;color:#000000; text-decoration:none; text-align:center; line-height:20px; display:block;}
.apply_button a:hover{background:url(../images/apply_bg_hover.png); width:52px; height:20px;font:11px "trebuchet MS",Verdana, Arial, Helvetica, sans-serif;color:#FFFFFF; text-decoration:none; text-align:center; line-height:20px;}

#pagenation{font:bold 11px "trebuchet MS",Verdana, Arial, Helvetica, sans-serif;color:#FFFFFF; text-decoration:none; text-align:right; padding:15px 60px 0px 0px; }
#pagenation a{font:bold 11px "trebuchet MS",Verdana, Arial, Helvetica, sans-serif;color:#FFFFFF; text-decoration:none; background-color:#A10000; padding:2px 4px 2px 4px;}
#pagenation a:hover{font:bold 11px "trebuchet MS",Verdana, Arial, Helvetica, sans-serif;color:#FFFFFF; text-decoration:none; background-color:#000000;padding:2px 4px 2px 4px;}

/*others*/
.clear{clear:both;}
.left_padding{padding-left:15px;}
.top_padding{margin-top:10px;}
.subscribebutton{ width:81px; height:28px; background-image:url(../images/submit_btn.png); background-repeat:no-repeat; border:0px; cursor:pointer;}

.redtext{ font:bold 11px "trebuchet MS",Verdana, Arial, Helvetica, sans-serif;color:#A10000; text-decoration:underline;}
.redtext:hover{ font:bold 11px "trebuchet MS",Verdana, Arial, Helvetica, sans-serif;color:#000000; text-decoration:underline;}

.redlink{ font:bold 11px "trebuchet MS",Verdana, Arial, Helvetica, sans-serif;color:#A10000; text-decoration:underline;}
.redlink:hover{ font:bold 11px "trebuchet MS",Verdana, Arial, Helvetica, sans-serif;color:#000000; text-decoration:underline;}

.blacklink{ font:11px "trebuchet MS",Verdana, Arial, Helvetica, sans-serif;color:#000000; text-decoration:underline;}
.blacklink:hover{ font:11px "trebuchet MS",Verdana, Arial, Helvetica, sans-serif;color:#A10000; text-decoration:underline;}

.meroonbold{ font:bold 12px "trebuchet MS",Verdana, Arial, Helvetica, sans-serif;color:#A10000; text-decoration:underline; line-height:28px;}
.meroonbold:hover{ font:bold 12px "trebuchet MS",Verdana, Arial, Helvetica, sans-serif;color:#000000; text-decoration:underline; line-height:28px;}


.tagline{ font: 14px "trebuchet MS",Verdana, Arial, Helvetica, sans-serif;color:#FFFFFF; text-decoration:none;}
.blackboldtext{ font:bold 14px "trebuchet MS",Verdana, Arial, Helvetica, sans-serif;color:#000000; text-decoration:none;}
.redboldtext{ font:bold 11px "trebuchet MS",Verdana, Arial, Helvetica, sans-serif;color:#A10000; text-decoration:none;}

.left_padding{padding-left:20px; padding-right:20px;}


.errortext{font:10px Arial, Helvetica, sans-serif; color:#FF0000;}
.errorlist{font:10px Arial, Helvetica, sans-serif; color:#FF0000;}
.leftalign{text-align:left; vertical-align:top;}
.frontend_content{width:680px; margin:0px auto; padding-top:5px;}
.frontend_heading{font:bold 14px "trebuchet MS", Arial, Helvetica, sans-serif; color:#9C0000; text-decoration:none;  float:left; padding-left:20px; padding-bottom:13px; }
.frontend_subheading1{ clear:both;font:500 14px "trebuchet MS", Arial, Helvetica, sans-serif; color:#191919; line-height:24px; text-decoration:none; border-top:1px dashed #CDC199;border-bottom:1px dashed #CDC199; padding:9px 0px 9px 20px; }
p.frontend{font:11px "trebuchet MS", Arial, Helvetica, sans-serif; color:#881900; color:#191919; text-decoration:none;}
p.description{font:12px "trebuchet MS", Arial, Helvetica, sans-serif; color:#881900; color:#191919; text-decoration:none; line-height:18px; padding:5px 0px 5px 0px; }
.apply{width:113px ; height:31px; border:none; background:url(../images/submit_button.png); cursor:pointer; color:#FFFFFF;font:bold 12px "trebuchet MS", Arial, Helvetica, sans-serif; text-align:center; display:block; float:right; line-height:30px;}
.apply a {color:#FFFFFF;text-decoration:none;}
.apply:hover{width:113px ; height:31px; border:none; background:url(../images/submit_button_r.png); cursor:pointer;  color:#FFFFFF;font:bold 12px "trebuchet MS", Arial, Helvetica, sans-serif;text-align:center;display:block; line-height:30px;}
.frontend_jobdescription{ clear:both;font:500 14px "trebuchet MS", Arial, Helvetica, sans-serif; color:#191919; text-decoration:none; border-top:1px dashed #CDC199;border-bottom:1px dashed #CDC199; padding:5px 10px 5px 20px; vertical-align:middle;}

/*form elements*/
fieldset{border:1px solid #E9D4B7; margin-top:5px;}
.jobname{width:500px; background-color:#FBF8ED; border:1px solid #D8C7AF;}
.jobname input{border:none; padding:3px;}
.jobdetails input{width:300px; background-color:#FBF8ED; border:1px solid #D8C7AF; padding:3px;}
.contactdetails input{width:300px; background-color:#FBF8ED; border:1px solid #D8C7AF; padding:3px;}
#submit_button{width:113px ; height:31px; border:none; background:url(../images/submit_button.png); cursor:pointer; display:block; color:#FFFFFF;font:bold 12px "trebuchet MS", Arial, Helvetica, sans-serif;}
#submit_button:hover{width:113px ; height:31px; border:none; background:url(../images/submit_button_r.png); cursor:pointer; display:block; color:#FFFFFF;font:bold 12px "trebuchet MS", Arial, Helvetica, sans-serif;}
.legendfront{font:bold 14px "trebuchet MS",Verdana, Arial, Helvetica, sans-serif; color:#9C0000; text-decoration:none; line-height:24px;  padding-bottom:8px; padding-top:10px;}

/* job type colours */
.badge1{ font: bold 11px Tahoma, Arial, Helvetica, sans-serif;color:#000000; text-decoration:none; background-color:#BD0000; padding:2px 3px 2px 3px; color:#FFFFFF; }
.badge1:hover{  background-color:#000000; }

.badge2{ font:11px Tahoma, Arial, Helvetica, sans-serif;color:#000000; text-decoration:none; background-color:#788D01; padding:2px 3px 2px 3px; color:#FFFFFF; }
.badge2:hover{  background-color:#000000; }

.badge3{ font:11px Tahoma, Arial, Helvetica, sans-serif;color:#000000; text-decoration:none; background-color:#DA9500; padding:2px 3px 2px 3px; color:#FFFFFF; }
.badge3:hover{  background-color:#000000; }

.badge4{ font:11px Tahoma, Arial, Helvetica, sans-serif;color:#000000; text-decoration:none; background-color:#6A1200; padding:2px 3px 2px 3px; color:#FFFFFF; }
.badge4:hover{  background-color:#000000; }

.badge5{ font:11px Tahoma, Arial, Helvetica, sans-serif;color:#000000; text-decoration:none; background-color:#EC8000; padding:2px 3px 2px 3px; color:#FFFFFF; }
.badge5:hover{  background-color:#000000; }
/* job type colours */

.applyjob input{width:295px; background-color:#FBF8ED; border:1px solid #D8C7AF; padding:3px;}

div span.helptext{
	font: 6px Tahoma, Arial, Helvetica, sans-serif;color:#000000;
}
#search_results a {font-size: 16px; color: #8B1B00;}
