@charset "utf-8";
/* CSS Document */
body {
	font:12px Arial, Helvetica, sans-serif;
	line-height:18px;
	background:url(../images/template3_bg.gif) repeat-x;
}
/*Main container*/
p{	font:12px Arial, Helvetica, sans-serif; color:#000; line-height:18px; text-decoration:none;}

#main {
	width:100%;
	margin:0px auto;
	background-color:#FFFFFF;
	background:url(../images/template3_bg.gif) repeat-x;
}
#header {
	width:960px;
	margin:0px auto;
	height:160px;
}
#logo {
	width:460px;
	float:left;
	height:70px;
	padding-top:30px;
}
#logo .companyname {
	font:bold 24px Helvetica, Arial, sans-serif;
	line-height:24px;
	color:#EAB137;
	text-decoration:none;
}
#logo .companyname a {
	font:bold 24px Helvetica, Arial, sans-serif;
	line-height:24px;
	color:#EAB137;
	text-decoration:none;
}
#logo .companyname a:hover {
	font:bold 24px Helvetica, Arial, sans-serif;
	line-height:24px;
	color:#FFFFFF;
	text-decoration:underline;
}
#logo .tagline {
	font:14px Helvetica, Arial, sans-serif;
	line-height:18px;
	color:#FFFFFF;
	text-decoration:none;
}
#topnav {
	font:12px "Trebuchet MS", Arial, Helvetica, sans-serif;
	width:500px;
	float:left;
	height:30px;
	padding-top:60px;
	text-align:right;
}
#topnav a {
	font:bold 12px "Trebuchet MS", Arial, Helvetica, sans-serif;
	text-align:right;
	color:#FFFFFF;
	text-decoration:none;
	padding:5px;
}
#topnav a:hover {
	font:bold 12px "Trebuchet MS", Arial, Helvetica, sans-serif;
	text-align:right;
	color:#CC9900;
	text-decoration:underline;
}
#searcharea {
	clear:both;
	width:940px;
	font:bold 18px Helvetica, Arial, sans-serif;
	color:#4C3524;
	margin:0px auto;
	;
	padding:5px 10px 5px 10px;
}
#searcharea #search {
	width:650px;
	float:left;
	font:bold 18px Helvetica, Arial, sans-serif;
	color:#A10000;
	line-height:42px;
	vertical-align:middle;
}
#searcharea #search input {
	width:250px;
	padding:6px;
	border:1px solid #999999;	
}

#searcharea #search img {}

#searcharea #postjob {
	width:280px;
	float:right;
	font:14px;
	line-height:46px;
}
#searcharea #postjob p.text {
	width:270px;
	float:left;
	font:bold 14px Helvetica, Arial, sans-serif;
	color:#4C3524;
	line-height:46px;
	text-align:right;
}
#searcharea #postjob #button {
	width:193px;
	float:right;
	line-height:46px;
	background:url(../images/postjob_template3.png) no-repeat;
	height:46px;
	cursor:pointer;
}
#searcharea #postjob #button:hover {
	width:193px;
	float:right;
	line-height:46px;
	background:url(../images/postjob_template3_r.png) no-repeat;
	height:46px;
	cursor:pointer;
}
#bodycontent {
	width:960px;
	margin:0px auto;
	display:block;
}
#jobposts {
	width:720px;
	float:right;
}
#jobposts ul {
	padding:0px;
	margin:0px;
}
#jobposts li {
	padding-left:10px;
}
.left_padding {
	padding-left:15px;
}
.top_padding {
	margin-top:10px;
}
.jobtext {
	font:bold 12px "trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	line-height:18px;
	color:#A10000;
	text-decoration:none;
	font-weight:bold;
}
.jobtext:hover {
	font:bold 12px "trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	line-height:18px;
	color:#000000;
	text-decoration:underline;
	font-weight:bold;
}
.jobtype {
	font:14px Helvetica, Arial, sans-serif;
	line-height:18px;
	color:#333333;
	text-decoration:none;
}
.company {
	font:12px Helvetica, Arial, sans-serif;
	line-height:18px;
	color:#333333;
	text-decoration:none;
}
.date {
	padding-left:50px;
	color:#666666;
}
.apply_button {
	width:52px;
	float:right;
	margin-top:5px;
	margin-right:5px;
}
.apply_button a {
	background:url(../images/apply_bg.png);
	width:52px;
	height:20px;
	font:11px Helvetica, Arial, sans-serif;
	color:#000000;
	text-decoration:none;
	text-align:center;
	line-height:20px;
	display:block;
}
.apply_button a:hover {
	background:url(../images/apply_bg_temp2_hover.png);
	width:52px;
	height:20px;
	font:11px Helvetica, Arial, sans-serif;
	color:#FFFFFF;
	text-decoration:none;
	text-align:center;
	line-height:20px;
}
.colorbg {
	background-color:#FAF7F2;
	font:11px Helvetica, Arial, sans-serif;
	line-height:32px;
	color:#000000;
	text-decoration:none;
	padding:5px;
0px 5px 0px;
}
.whitebg {
	background-color:#FFFFFF;
	font:11px Helvetica, Arial, sans-serif;
	line-height:32px;
	color:#000000;
	text-decoration:none;
	padding:5px;
0px 5px 0px;
}
#footer {
	font:12px "trebuchet MS",Verdana, Arial, Helvetica, sans-serif;
	clear:both;
	width:100%;
	border-top:1px solid #4C3524;
	padding:30px 0px 30px 0px;
	margin-top:20px;
	text-align:center;
	background-color:#000000;
	color:#FFFFFF;
	
}
#footer a {
	font:12px "trebuchet MS",Verdana, Arial, Helvetica, sans-serif;
	color:#FFFFFF;
	text-decoration:underline;
	
}
#footer a:hover {
	font:12px "trebuchet MS",Verdana, Arial, Helvetica, sans-serif;
	color:#FFCC00;
	text-decoration:underline;
	
}
/* job type colours */
.badge1 {
	font:bold 11px Tahoma, Arial, Helvetica, sans-serif;
	color:#000000;
	text-decoration:none;
	padding:5px;
	color:#555656;
}
.badge1:hover {
}
.badge2 {
	font:bold 11px Tahoma, Arial, Helvetica, sans-serif;
	color:#000000;
	text-decoration:none;
	padding:5px;
	color:#555656;
}
.badge2:hover {
}
.badge3 {
	font:bold 11px Tahoma, Arial, Helvetica, sans-serif;
	color:#000000;
	text-decoration:none;
	padding:5px;
	color:#555656;
}
.badge3:hover {
}
.badge4 {
	font:bold 11px Tahoma, Arial, Helvetica, sans-serif;
	color:#000000;
	text-decoration:none;
	padding:5px;
	color:#555656;
}
.badge4:hover {
}
.badge5 {
	font:bold 11px Tahoma, Arial, Helvetica, sans-serif;
	color:#000000;
	text-decoration:none;
	padding:5px;
	color:#555656;
}
.badge5:hover {
}
/* job type colours */

/*categories comtainer Template1*/
#categorylist {
	width:200px;
	float:left;
	background:url(../images/categories_bottombg.gif) bottom left;
	padding-bottom:12px;
}
#frontend_content {
	width:960px;
	margin:0px auto;
}
#frontend_content #leftpanel {
	width:180px;
	float:left;
	margin:10px 0px 0px 0px;
}
/*categories comtainer*/
#categories {
	width:200px;
}
#categories .top {
	height:47px;
	font: bold 12px "trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	line-height:47px;
	padding-left:20px;
	color:#A10000;
	background:url(../images/categories_topbg.gif);
}

#categories .middle li {
	font:bold 11px "Trebuchet MS", Arial, Helvetica, sans-serif;
	background:url('http://media.jobboardshq.com/site_media/frontend/images/template3_list.gif') no-repeat;
	line-height:24px;
	padding-left:35px;
	color:#A10000;
	text-decoration:none;
}
#categories .middle li a {
	font:bold 11px "Trebuchet MS", Arial, Helvetica, sans-serif;
	line-height:24px;
	color:#A10000;
	text-decoration:none;
}
#categories .middle li a:hover {
	font:bold 11px "Trebuchet MS", Arial, Helvetica, sans-serif;
	line-height:24px;
	text-decoration:underline;
	color:#000000;
}

#categories .bottom {
	background:url(../images/categories_bottombg.gif) top left;
	height:12px;
}
/*ends*/

/*categories comtainer Template1*/
#pages {
	width:200px;
	float:left;
	background:url(../images/categories_bottombg.gif) bottom left;
	padding-bottom:12px;
	margin-top:15px;
}
#frontend_content {
	width:960px;
	margin:0px auto;
}
#frontend_content #leftpanel {
	width:180px;
	float:left;
	margin:10px 0px 0px 0px;
}
/*categories comtainer*/
#pages {
	width:200px;
}
#pages .top {
	height:47px;
	font: bold 12px "trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	line-height:47px;
	padding-left:20px;
	color:#A10000;
	background:url(../images/categories_topbg.gif);
}
#pages .middle {
	clear:both;
}
#pages .middle ul {
	color:#000000;
}
#pages .middle li {
	background:url(../images/template3_list.gif) no-repeat;
	line-height:24px;
	padding-left:35px;
	color:#000000;
	text-decoration:none;
}
#pages .middle li a {
	line-height:24px;
	color:#000000;
	text-decoration:none;
}
#pages .middle li a:hover {
	line-height:24px;
	text-decoration:underline;
	color:#CC0000;
}
#pages .bottom {
	background:url(../images/categories_bottombg.gif) top left;
	height:12px;
}
/*ends*/



/*Template 2 horizntal menu*/
#solidblockmenu {
	width:960px;
	padding-top:5px;
	margin:0px auto;
	height:38px;
	display:none;
}
.solidblockmenu {
	margin: 0;
	padding: 0;
	float: left;
	font: bold 13px Arial;
	width: 100%;
	overflow: hidden;
	margin-bottom: 1em;
	border: 1px solid #625e00;
	border-width: 1px 0;
	background:url(../images/blockdefault.gif) center center repeat-x;
}
.solidblockmenu li {
	display: inline;
}
.solidblockmenu li a {
	float: left;
	color: white;
	padding: 9px 11px;
	text-decoration: none;
	border-right: 1px solid white;
}
.solidblockmenu li a:visited {
	color: white;
}
.solidblockmenu li a:hover, .solidblockmenu li .current {
	color: white;
	background:url(../images/blockactive.gif) center center repeat-x;
}
.clear {
	clear:both;
}
/*Template 2 horizntal menu*/

/*categories comtainer*/
#jobboard_pages {
	width:190px;
	float:right;
	display:none;
}
#jobboard_pages #pages {
	width:190px;
	background-color:#3B2E24;
	padding:5px 0px 5px 0px;
}
#jobboard_pages #pages .top {
	height:47px;
	font: bold 14px Helvetica, Arial, sans-serif;
	line-height:47px;
	padding-left:20px;
	color:#FFFFFF;
}
#jobboard_pages #pages .middle {
}
#jobboard_pages #pages .middle ul {
	color:#000000;
	margin-bottom:15px;
}
#jobboard_pages #pages .middle li {
	color:#FFFFFF;
	text-decoration:none;
	margin-left:20px;
}
#jobboard_pages #pages .middle li a {
	background:url(../images/brownarrow.gif) no-repeat;
	color:#FFFFFF;
	text-decoration:none;
	padding-left:15px;
	padding-top:5px;
	font: 13px Helvetica, Arial, sans-serif;
	line-height:24px;
}
#jobboard_pages #pages .middle li a:hover {
	background:url(../images/brownarrow.gif) no-repeat;
	text-decoration:underline;
	color:#EAB717;
	font:13px Helvetica, Arial, sans-serif;
	line-height:24px;
}
#jobboard_pages #pages .bottom {
	height:12px;
}
.clear {
	clear:both;
}
.adminlinks {
	text-align:right;
	font:bold 12px Arial, Helvetica, sans-serif;
	color:#FFFFFF;
	text-decoration:none;
	width:460px
	float:left;
	height:30px;
	padding-top:40px;
	text-align:right;
}
.adminlinks a {
	text-align:right;
	font:bold 12px Arial, Helvetica, sans-serif;
	color:#FFFFFF;
	text-decoration:none;
}
.adminlinks a:hover {
	text-align:right;
	font:bold 12px Arial, Helvetica, sans-serif;
	color:#FFCC00;
	text-decoration:underline;
}
.gobutton {
	width:31px;
	height:31px;
	background:url(../images/go_template3.png);
	cursor:pointer;
}
.bold {
	font-weight:bold;
}
#frontend_content #leftpanel #newsletter {
	width:150px;
	margin:10px 0px 0px 0px;
	height:83px;
	background:url(../images/email_bg.png) no-repeat;
	padding:110px 25px 0px 25px;
	text-align:center;
}
.newsletter_textfield {
	margin-bottom:5px;
	border:1px solid #630000;
	padding:3px;
}
#pagenation {
	font:bold 11px "trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	color:#000000;
	text-decoration:none;
	text-align:right;
	padding:15px 0px 0px 0px;
}
#pagenation a {
	font:bold 11px "trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	color:#000000;
	text-decoration:none;
	background-color:#A10000;
	padding:2px 4px 2px 4px;
}
#pagenation a:hover {
	font:bold 11px "trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	color:#FFFFFF;
	text-decoration:none;
	background-color:#000000;
	padding:2px 4px 2px 4px;
}
.panelleft {
	width:200px;
	float:left;
}
.panelright {
	width:500px;
	float:right;
}
#newsletterpanel {
	width:200px;
	height:85px;
	float:left;
	background-image:url(../images/email_bg.png);
	background-repeat:no-repeat;
	padding:110px 0px 0px 0px;
	text-align:center;
	margin-top:10px;
}

.advanced {
	font: bold 12px Arial, Helvetica, sans-serif;
	color:#A10000;
	text-decoration:none;
}
.advanced:hover {
	font: bold 12px Arial, Helvetica, sans-serif;
	color:#000000;
	text-decoration:underline;
}
#frontend_searchbar {
	clear:both;
	margin:0px auto;
	width:940px;
	height:83px;
	font:14px "trebuchet MS";
}
#frontend_searchbar .searchjobs {
	width:106px;
	height:83px;
	float:left;
	font: 14px "trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	line-height:83px;
	color:#682C00;
}
#frontend_searchbar .searchfield {
	width:230px;
	height:56px;
	float:left;
	padding-top:27px;
}
#frontend_searchbar .textfield {
	border:1px solid #C8AC84;
	padding:6px;
	width:200px;
}
#frontend_searchbar .searchbutton {
	width:103px;
	height:35px;
	float:left;
	margin-top:25px;
	background-image:url(../images/search_but.png);
	background-repeat:no-repeat;
	cursor:pointer;
	margin-right:10px;
	border:0px;
}
#frontend_searchbar .searchbutton:hover {
	width:103px;
	height:35px;
	float:left;
	margin-top:25px;
	background-image:url(../images/search_but.png);
	background-repeat:no-repeat;
	cursor:pointer;
	margin-right:10px;
}
#frontend_searchbar .advancedsearch {
	width:176px;
	height:83px;
	float:left;
}
.searchlink {
	font: bold 12px "trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	line-height:83px;
	color:#A10000;
	text-decoration:none;
}
.searchlink:hover {
	font: bold 12px "trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	line-height:83px;
	color:#000000;
	text-decoration:underline;
}
#frontend_searchbar .posttext {
	width:234px;
	float:left;
	text-align:center;
	margin:0px auto;
	padding-top:5px;
	font:bold 14px "trebuchet MS";
	color:#990000;
	float:right;
}
#frontend_searchbar .postjob {
	width:234px;
	height:51px;
	position:relative;
	background:url(../images/post_job_buttonnew.png) no-repeat;
	cursor:pointer;
	float:right;
	margin-top:5px;
}
#frontend_searchbar .postjob:hover {
	width:234px;
	height:51px;
	position:relative;
	background:url(../images/post_job_buttonnew.png) no-repeat 0 -51px;
	float:right;
}


#innerrightpanel{width:710px; float:right; margin:1px 0px 0px 20px; padding:10px;  -webkit-border-radius:10px; -moz-border-radius:10px; border:1px solid #D8C7AF;}

.frontend_heading{font:bold 14px "trebuchet MS",Arial, Helvetica, sans-serif; line-height:24px; border-bottom:1px solid #D8C7AF; color:#A10000; padding-bottom:8px; }
.frontend_subheading1{font:12px "trebuchet MS",Arial, Helvetica, sans-serif; line-height:30px; border-bottom:1px solid #D8C7AF; color:#333333;}
fieldset{border:1px solid  #D8C7AF; margin-top:10px;}
legend{font:12px "trebuchet MS",Arial, Helvetica, sans-serif; color:#A10000;}
.errortext{font:11px Arial, Helvetica, sans-serif; color:#FF0000;}
.errorlist{font:11px Arial, Helvetica, sans-serif; color:#FF0000;}
.apply{width:113px ; height:31px; border:none; background:url('http://media.jobboardshq.com/site_media/frontend/images/submit_button.png'); cursor:pointer; color:#FFFFFF;font:bold 12px "trebuchet MS", Arial, Helvetica, sans-serif; text-align:center; display:block; float:right; line-height:30px;}
.apply a {color:#FFFFFF;text-decoration:none;}
.apply:hover{width:113px ; height:31px; border:none; }

.redtext { font:bold 11px "trebuchet MS",Verdana, Arial, Helvetica, sans-serif;color:#A10000; text-decoration:underline;}
.redtext:hover{ font:bold 11px "trebuchet MS",Verdana, Arial, Helvetica, sans-serif;color:#000000; text-decoration:underline;}

.redlink{ font:bold 11px "trebuchet MS",Verdana, Arial, Helvetica, sans-serif;color:#A10000; text-decoration:underline;}
.redlink:hover{ font:bold 11px "trebuchet MS",Verdana, Arial, Helvetica, sans-serif;color:#000000; text-decoration:underline;}

.blacklink{ font:11px "trebuchet MS",Verdana, Arial, Helvetica, sans-serif;color:#000000; text-decoration:underline;}
.blacklink:hover{ font:11px "trebuchet MS",Verdana, Arial, Helvetica, sans-serif;color:#A10000; text-decoration:underline;}

.newblacklink{ font:11px "trebuchet MS",Verdana, Arial, Helvetica, sans-serif;color:#000000; text-decoration:none;}
.newblacklink:hover{ font:11px "trebuchet MS",Verdana, Arial, Helvetica, sans-serif;color:#A10000; text-decoration:underline;}


.meroonbold{ font:bold 12px "trebuchet MS",Verdana, Arial, Helvetica, sans-serif;color:#A10000; text-decoration:underline; line-height:28px;}
.meroonbold:hover{ font:bold 12px "trebuchet MS",Verdana, Arial, Helvetica, sans-serif;color:#000000; text-decoration:underline; line-height:28px;}


.tagline{ font: 14px "trebuchet MS",Verdana, Arial, Helvetica, sans-serif;color:#FFFFFF; text-decoration:none;}
.blackboldtext{ font:bold 14px "trebuchet MS",Verdana, Arial, Helvetica, sans-serif;color:#000000; text-decoration:none;}
.redboldtext{ font:bold 11px "trebuchet MS",Verdana, Arial, Helvetica, sans-serif;color:#A10000; text-decoration:none;}

.left_padding{padding-left:20px; padding-right:20px;}
p.frontend{font:11px "trebuchet MS", Arial, Helvetica, sans-serif; color:#881900; color:#191919; text-decoration:none; line-height:24px;}
p.description{font:12px "trebuchet MS", Arial, Helvetica, sans-serif; color:#881900; color:#191919; text-decoration:none; line-height:18px; padding:5px 0px 5px 0px; }
.frontend_jobdescription{ clear:both;font:500 14px "trebuchet MS", Arial, Helvetica, sans-serif; color:#191919; text-decoration:none;border-bottom:1px solid #CDC199; padding:5px 10px 5px 20px; vertical-align:middle;}

h1{font:bold 18px "trebuchet MS",Verdana, Arial, Helvetica, sans-serif; color:#9C0000; text-decoration:none; line-height:24px; letter-spacing:-1px; padding-bottom:8px;}
h2{font:bold 16px "trebuchet MS",Verdana, Arial, Helvetica, sans-serif; color:#9C0000; text-decoration:none; line-height:20px;}
h3{font:bold 14px "trebuchet MS",Verdana, Arial, Helvetica, sans-serif; color:#9C0000; text-decoration:none; line-height:20px;}
h4{font:bold 12px "trebuchet MS",Verdana, Arial, Helvetica, sans-serif; color:#9C0000; text-decoration:none; line-height:24px;}
h5{font:bold 11px "trebuchet MS",Verdana, Arial, Helvetica, sans-serif; color:#9C0000; text-decoration:none; line-height:18px;}
h6{font:11px "trebuchet MS",Verdana, Arial, Helvetica, sans-serif; color:#9C0000; text-decoration:none; line-height:18px;}

.button{border:none;cursor:pointer; color:#FFFFFF;font:bold 12px "trebuchet MS", Arial, Helvetica, sans-serif; text-align:center; display:block; line-height:20px; -moz-border-radius:10px;  -webkit-border-radius:10px; border:1px solid #A10000; background-color:#A10000; padding:3px 10px 3px 10px;}
.button a {border:none;cursor:pointer; color:#FFFFFF;font:bold 12px "trebuchet MS", Arial, Helvetica, sans-serif; text-align:center; display:block;  line-height:20px;-moz-border-radius:10px;  -webkit-border-radius:10px; border:1px solid #A10000; background-color:#A10000; padding:3px 10px 3px 10px;}
.button:hover{border:none;cursor:pointer; color:#FFFFFF;font:bold 12px "trebuchet MS", Arial, Helvetica, sans-serif; text-align:center; display:block;  line-height:20px;-moz-border-radius:10px;  -webkit-border-radius:10px; border:1px solid #A10000; background-color:#A10000; padding:3px 10px 3px 10px;}

.newstextfield{width:180px; border:0px; padding:3px;}

.title{ font:bold 12px "trebuchet MS",Verdana, Arial, Helvetica, sans-serif; color:#A10000; text-decoration:none; padding:3px 0px 11px 0px;}
.searchheading{font:bold 12px "Trebuchet MS", Arial, Helvetica, sans-serif; color:#A10000; text-align:left;}