@charset "utf-8";
/* CSS Document */
body{font:11px "trebuchet MS", Arial, Helvetica, sans-serif;  color:#191919; text-decoration:none; line-height:18px; }

body.admin{font:11px "trebuchet MS", Arial, Helvetica, sans-serif;  color:#191919; text-decoration:none; line-height:18px; background:url(../images/admin_sitebg.jpg) repeat-x; background-color:#EFE8DE;}
p{font:11px "trebuchet MS", Arial, Helvetica, sans-serif; color:#881900; color:#191919; text-decoration:none;}
p.admin{font:11px "trebuchet MS", Arial, Helvetica, sans-serif; color:#881900; color:#191919; text-decoration:none;}

/* Admin pages containers   */
#adminheader{margin:0px auto; width:980px; height:97px;}
.logo{width:500px; float:left;font:bold 24px "trebuchet MS",Verdana, Arial, Helvetica, sans-serif; color:#FFFFFF; text-decoration:none; margin-top:25px;}
.logo a{width:500px; float:left;font:bold 24px "trebuchet MS",Verdana, Arial, Helvetica, sans-serif; color:#FFFFFF; text-decoration:none;}
.logo a:hover{width:500px; float:left; font:bold 24px "trebuchet MS",Verdana, Arial, Helvetica, sans-serif; color:#D4C490; text-decoration:underline;}

#admin_user{float:right; color:#FFFFFF; padding-top:50px; font:bold 12px "trebuchet MS", Arial, Helvetica, sans-serif; color:#FFFFFF;}
#admin_user a{color:#FFFFFF; text-decoration:none;}
#admin_user a:hover{ color:#000000; text-decoration:underline;}
#adminbody{margin:0px auto; width:980px; background-color:#FFFFFF; clear:both;}
#footerlinks{width:100%; background-color:#87BFBC; height:180px;}
#copyright{width:100%; background-color:#000000; font:11px "trebuchet MS", Arial, Helvetica, sans-serif; color:#FFFFFF; line-height:40px; text-align:center;}
#copyright a{width:100%; background-color:#000000; font:11px "trebuchet MS", Arial, Helvetica, sans-serif; color:#FFFFFF; line-height:40px; text-align:center;}
#copyright a:hover{color:#CC9900; line-height:40px; text-align:center;}


/* Admin pages styles starts here    */
#loading_message { width:938px; margin:0px auto; display:block; text-align:center; font:bold 14px Arial, Helvetica, sans-serif;}
#admincontainer { width:938px; margin:0px auto; display:block; padding-top:15px; padding-bottom:15px;}
#admincontainer #top { width:938px; height:24px; display:block; }
#admincontainer #middle { width:938px; float:left;background:url(../images/admin_bg_middle.gif) repeat-y;}
#admincontainer #leftblock { width:233px; display:block; float:left;}
#admincontainer #rightblock { width:640px; padding:0px 30px 0px 30px; float:left; display:block;}
#admincontainer ul.vert-one{margin:0;padding:0;list-style-type:none;display:block;font:500 13px "trebuchet MS", Arial, Helvetica, sans-serif;line-height:30px;width:232px;border-top:1px solid #DFD5B5;  background-color:#8D250B; color:#FFFFFF; text-indent:10px;}
#admincontainer ul.vert-one li{margin:0;padding:0;border-bottom:1px solid #DFD5B5; }
#admincontainer ul.vert-one li a{display:block;text-decoration:none;color:#fff;padding:0 0 0 20px;width:212px; background-color:#F1EDE0; color:#881900;}
#admincontainer ul.vert-one li a:hover{background: url(../images/menu_hover.gif) no-repeat; color:#440D00; }
#admincontainer ul.vert-one li a.current,ul.vert-one li a.current:hover{background: url(../images/menu_hover.gif) no-repeat; color:#440D00;}
#admincontainer ul.vert-one li a.current{background:url(../images/menu_current.gif) no-repeat; color:#440D00;}
.addjobs_buttons{width:420px; float:right;  line-height:18px; text-align:right;}
.jobrole{font:11px "trebuchet MS", Arial, Helvetica, sans-serif; color:#8B1B00; line-height:18px; text-decoration:none;}
.jobrole a{font:11px "trebuchet MS", Arial, Helvetica, sans-serif; color:#8B1B00; line-height:18px; text-decoration:none;}
.jobrole a:hover{font:11px "trebuchet MS", Arial, Helvetica, sans-serif; color:#000000; line-height:18px; text-decoration:underline;}

.viewed{font:11px "trebuchet MS", Arial, Helvetica, sans-serif; color:#666666; padding-left:25px;}
.fulltime_badge{ text-align:center;  background-color:#788D01; color:#FFFFFF; font:bold 11px  Tahoma, Arial, Helvetica, sans-serif; display:block; float:left;  line-height:18px;}
.freelance_badge{text-align:center; color:#FFFFFF; font:bold 11px  Tahoma, Arial, Helvetica, sans-serif; width:90px; display:block; float:left; line-height:18px;background-color:#851700;}
.parttime_badge{text-align:center; color:#FFFFFF; font:bold 11px  Tahoma, Arial, Helvetica, sans-serif; width:90px; display:block; float:left;  line-height:18px;background-color:#A10000;}
.admin_heading{font:bold 14px "trebuchet MS", Arial, Helvetica, sans-serif; color:#881900; line-height:30px; text-decoration:none;  float:left; }
.admin_subheading1{ clear:both;font:500 14px "trebuchet MS", Arial, Helvetica, sans-serif; color:#191919; line-height:24px; text-decoration:none; border-top:1px dashed #CDC199;border-bottom:1px dashed #CDC199; padding:9px 0px 9px 0px; }
.admin_subheading1 a { color:#8B1B00; text-decoration:none;}
.admin_subheading1 a:visited { color:#8B1B00; text-decoration:none;}
.admin_subheading1 a:hover { color:#8B1B00; text-decoration:underline;}
.admin_subheading2{font:300 14px "trebuchet MS", Arial, Helvetica, sans-serif; color:#881900; line-height:24px; text-decoration:none; }
.jobblock{background-color:#FBF8ED; padding:10px; border-bottom:1px dashed #CDC199;}
.staticfields{background-color:#CCCCCC; padding:10px;  filter:alpha(opacity=50);    -moz-opacity:.50;  opacity:.50; color:#000000; margin-top:5px; }
.formelementsblock{background-color:#F1EAD3; padding:5px 10px 5px 10px; border-bottom:5px solid #FFFFFF;}
.textfield{width:240px; padding:3px; margin:2px; background-color:#FAF7EE; border:1px solid #DDCFA6; font:11px "trebuchet MS", Arial, Helvetica, sans-serif; opacity:0.75;}
.text_small{width:100px; background-color:#FFFFFF; border:1px solid #999999; font:9px "trebuchet MS", Arial, Helvetica, sans-serif;}
.listmenu{width:250px; padding:3px; margin:2px; background-color:#FAF7EE; border:1px solid #DDCFA6; font:11px "trebuchet MS", Arial, Helvetica, sans-serif;}
.textarea{width:240px; padding:3px; margin:2px; background-color:#FAF7EE; border:1px solid #DDCFA6; font:11px "trebuchet MS", Arial, Helvetica, sans-serif;}
.formpadding{ clear:both; padding-top:10px;}
.leftpadding{padding-left:10px;}
.clear{clear:both;}
.rightalign{float:right;}
.smalltext{ font-size:10px; font-family:Arial, Helvetica, sans-serif;}
.designform{background-color:#F1EAD3; padding:5px 10px 5px 10px;}
.meroontext{font:11px "trebuchet MS", Arial, Helvetica, sans-serif; color:#990000;}
.errortext{font:10px "trebuchet MS", Arial, Helvetica, sans-serif; color:#FF0000;}
.save_but{width:118px; height:35px; background-image:url(../images/save_button.gif);}
.calcel_but{width:118px; height:35px; background-image:url(../images/cancel_button.gif)}
.formbutton{color:#FFFFFF;font-weight:bold;background-image:url(../images/save_button.gif);width:118px; height:35px; border:0px; cursor:pointer;}
.errorlist{font:10px Arial, Helvetica, sans-serif; color:#FF0000;}

/* Admin pages styles ends here    */
/*input{	width: 170px;		background: #EFE8DE;	color: #000000; border:1px solid #B4976D; padding:2px;}*/
.redtext{ font:bold 11px "trebuchet MS",Verdana, Arial, Helvetica, sans-serif;color:#A10000; text-decoration:none;}
.redtext:hover{ font:bold 11px "trebuchet MS",Verdana, Arial, Helvetica, sans-serif;color:#000000; text-decoration:underline;}
.blacklink{ font:11px "trebuchet MS",Verdana, Arial, Helvetica, sans-serif;color:#000000; text-decoration:underline; padding:0px 5px 0px 5px;}
.blacklink:hover{ font:11px "trebuchet MS",Verdana, Arial, Helvetica, sans-serif;color:#A10000; text-decoration:underline; padding:0px 5px 0px 5px;}
.div_toppading{padding-top:10px;}
.apply{width:113px ; height:31px; border:none; background:url(../images/submit_button.png); cursor:pointer; color:#FFFFFF;font:bold 12px "trebuchet MS", Arial, Helvetica, sans-serif; text-align:center; display:block; float:right; line-height:30px;}
.apply:hover{width:113px ; height:31px; border:none; background:url(../images/submit_button_r.png); cursor:pointer;  color:#FFFFFF;font:bold 12px "trebuchet MS", Arial, Helvetica, sans-serif;text-align:center;display:block; line-height:30px;}
.blacktext{ font:bold 12px "trebuchet MS",Verdana, Arial, Helvetica, sans-serif;color:#FBC900; text-decoration:none;}
.12blacktext{ font:bold 12px "trebuchet MS",Verdana, Arial, Helvetica, sans-serif;color:#FBC900; text-decoration:none;}
.blackboldtext{ font:bold 14px "trebuchet MS",Verdana, Arial, Helvetica, sans-serif;color:#000000; text-decoration:none;}
.redboldtext{ font:bold 11px "trebuchet MS",Verdana, Arial, Helvetica, sans-serif;color:#A10000; text-decoration:none;}
.13redbold{ font:bold 13px "trebuchet MS",Verdana, Arial, Helvetica, sans-serif;color:#A10000; text-decoration:none;}

/* job type colours */
.badge1{ font: bold 11px Tahoma, Arial, Helvetica, sans-serif;color:#000000; text-decoration:none; background-color:#BD0000; padding:2px 3px 2px 3px; color:#FFFFFF; }
.badge1:hover{  background-color:#000000; }

.badge2{ font:11px Tahoma, Arial, Helvetica, sans-serif;color:#000000; text-decoration:none; background-color:#788D01; padding:2px 3px 2px 3px; color:#FFFFFF; }
.badge2:hover{  background-color:#000000; }

.badge3{ font:11px Tahoma, Arial, Helvetica, sans-serif;color:#000000; text-decoration:none; background-color:#DA9500; padding:2px 3px 2px 3px; color:#FFFFFF; }
.badge3:hover{  background-color:#000000; }

.badge4{ font:11px Tahoma, Arial, Helvetica, sans-serif;color:#000000; text-decoration:none; background-color:#6A1200; padding:2px 3px 2px 3px; color:#FFFFFF; }
.badge4:hover{  background-color:#000000; }

.badge5{ font:11px Tahoma, Arial, Helvetica, sans-serif;color:#000000; text-decoration:none; background-color:#EC8000; padding:2px 3px 2px 3px; color:#FFFFFF; }
.badge5:hover{  background-color:#000000; }
/* job type colours */
.buttonbg{width:113px ; height:31px; border:none; background:url(../images/applybut_bg.png); cursor:pointer; color:#FFFFFF;font:bold 12px "trebuchet MS", Arial, Helvetica, sans-serif; text-align:center; display:block;  line-height:30px;}
.buttonbg:hover{width:113px ; height:31px; border:none; background:url(../images/applybut_bg_r.png); cursor:pointer;  color:#FFFFFF;font:bold 12px "trebuchet MS", Arial, Helvetica, sans-serif;text-align:center;display:block; line-height:30px;}
.tagline{ font:14px "trebuchet MS",Verdana, Arial, Helvetica, sans-serif;color:#FFFFFF; text-decoration:none;}
.redbutton{width:113px ; height:31px; border:none; background:url(../images/submit_button.png); cursor:pointer; color:#FFFFFF;font:bold 12px "trebuchet MS", Arial, Helvetica, sans-serif; text-align:center; display:block; line-height:30px;}
.redbutton:hover{width:113px ; height:31px; border:none; background:url(../images/submit_button_r.png); cursor:pointer;  color:#FFFFFF;font:bold 12px "trebuchet MS", Arial, Helvetica, sans-serif;text-align:center;display:block; line-height:30px;}
fieldset{border:1px solid #E9D4B7;}
fieldset.addjob input{border:none;}