{% extends 'widgets/base.html' %}

{% block title %} {{ block.super }} - Widgets {% endblock title %}
{% block extracss %}
<style type='text/css'>
.textarea {
  width: 700px;
  height: 50px;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}
</style>
{% endblock extracss %}

{% block content %}

 		<div class="admin_heading">Widgets</div>
        	<div class="admin_subheading1">
          		<p class="admin">Copy the code below to include this widget in your site.</p>
        	</div>	


	<script src="{% url widgets_jobs_js %}">
		
	</script>
 
  
  
  <p>
  	Copy this code.
  <p class='textarea'>
    {{ widget_code }}
  </p>
  

{% endblock content %}