<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<style type='text/css'>
body{font:11px Arial, Helvetica, sans-serif; color:#000000; text-decoration:none;}

a:link {
	color: #9C0000;
}
a:visited {
	color: #9C0000;
}
a:hover {
	color: #000000;
}
a:active {
	color: #9C0000;
}
ul
{
list-style-type:none;
margin:0px;
padding:2px 0px 2px 8px;
}
li
{
margin:0px;
padding:0px;
list-style-type:square;
color:#000000; 
text-decoration:none;
}

</style>

<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
		<title>Widgets</title>
	</head>
	<body>
		{% block content %}
		{% endblock content %}
	</body>
</html>
