@charset "utf-8";
/* CSS Document */

body{font:11px "trebuchet MS", Arial, Helvetica, sans-serif;  color:#191919; text-decoration:none; line-height:18px; }

body.homepage{background:url(../images/site_bg.gif) repeat-x; font:11px "trebuchet MS", Arial, Helvetica, sans-serif;  color:#191919; text-decoration:none; line-height:18px;}
body.innerpage{background:url(../images/site_bginner.gif) repeat-x; font:11px "trebuchet MS", Arial, Helvetica, sans-serif;  color:#191919; text-decoration:none; line-height:18px;}

/*Headings*/
h1{font:bold 18px "trebuchet MS",Verdana, Arial, Helvetica, sans-serif; color:#9C0000; text-decoration:none; line-height:24px;  padding-bottom:8px; padding-top:10px;}
h2{font:bold 16px "trebuchet MS",Verdana, Arial, Helvetica, sans-serif; color:#9C0000; text-decoration:none; line-height:20px;}
h3{font:bold 14px "trebuchet MS",Verdana, Arial, Helvetica, sans-serif; color:#9C0000; text-decoration:none; line-height:18px;}
h4{font:bold 12px "trebuchet MS",Verdana, Arial, Helvetica, sans-serif; color:#9C0000; text-decoration:none; line-height:18px;}
h5{font:bold 11px "trebuchet MS",Verdana, Arial, Helvetica, sans-serif; color:#9C0000; text-decoration:none; line-height:18px;}
h6{font:11px "trebuchet MS",Verdana, Arial, Helvetica, sans-serif; color:#9C0000; text-decoration:none; line-height:18px;}
p{font:12px "trebuchet MS",Verdana, Arial, Helvetica, sans-serif; text-decoration:none; color:#1D1D1D; line-height:18px; margin:0px 0px 8px 0px;}
p.aboutus{font:12px "trebuchet MS",Verdana, Arial, Helvetica, sans-serif; text-decoration:none; color:#1D1D1D; line-height:18px; padding:0px 0px 15px 0px;}
p.email{ padding-top:25px; padding-left:130px; color:#FFFFFF; text-align:left; }
p.twitter{ padding-top:25px; padding-left:130px; color:#FFFFFF; text-align:left; }

/*Wrapper*/
#wrapper{width:100%;}
#header{ margin:0px auto; width:960px; height:90px; padding:25px 0px 0px 00px;}

/*Top navigation*/
#top_navigation{ margin:0px auto; width:960px; height:47px; padding-top:1px;}
#nav-example {background:url(../images/topnav.gif) top left;width:960px;height:47px;margin:0; padding:0px;}
#nav-example span {display: none;}
#nav-example li, #nav-example a {height:47px;display:block;}
#nav-example li {float:left;list-style:none;display:inline;}
#nav-example-01 {width: 92px;}
#nav-example-02 {width: 108px;}
#nav-example-03 {width: 85px;}
#nav-example-04 {width: 94px;}
#nav-example-05 {width: 102px;}
#nav-example-06 {width: 300px;}
#nav-example-07 {width: 89px;}
#nav-example-08 {width: 90px;}
#nav-example-01 a:hover {background:url(../images/topnav.gif) 0px -47px no-repeat;}
#nav-example-02 a:hover {background:url(../images/topnav.gif) -92px -47px no-repeat;}
#nav-example-03 a:hover {background:url(../images/topnav.gif) -200px -47px no-repeat;}
#nav-example-04 a:hover {background:url(../images/topnav.gif) -285px -47px no-repeat;}
#nav-example-05 a:hover {background:url(../images/topnav.gif) -379px -47px no-repeat;}
#nav-example-06 a:hover {background:url(../images/topnav.gif) -481px -47px no-repeat;}
#nav-example-07 a:hover {background:url(../images/topnav.gif) -781px -47px no-repeat;}
#nav-example-08 a:hover {background:url(../images/topnav.gif) -870px -47px no-repeat;}


.homeselected {background:url(../images/topnav.gif) 0px -47px no-repeat;}
.featuresselected {background:url(../images/topnav.gif) -92px -47px no-repeat;}
.demo {background:url(../images/topnav.gif) -200px -47px no-repeat;}
.pricing {background:url(../images/topnav.gif) -285px -47px no-repeat;}
.support {background:url(../images/topnav.gif) -379px -47px no-repeat;}
.contactus {background:url(../images/topnav.gif) -481px -47px no-repeat;}
.space {background:url(../images/topnav.gif) -781px -47px no-repeat;}
.login {background:url(../images/topnav.gif) -870px -47px no-repeat;}
.signup {background:url(../images/topnav.gif) -870px -47px no-repeat;}
/*Top navigation ends*/

/*Banner styles*/
#banner{ margin:0px auto; width:960px; height:325px;}
#banner #screencast{ width:550px; height:315px; float:left; padding-top:10px;}
#banner #signup{width:410px; height:280px; float:left;  padding-top:45px; text-align:center; }
#banner #signup #button{width:288px; text-align:center; margin:0px auto; background:url(../images/post_job_buttonnew.png) no-repeat; height:65px; cursor:pointer; margin-top:25px; }
#banner #signup #button:hover{width:288px; text-align:center; margin:0px auto; background:url(../images/post_job_buttonnew.png) 0 -65px no-repeat;  margin-top:25px;}
#banner_innerpage{ margin:0px auto; width:960px; height:150px;}
#banner_innerpage{ margin:0px auto; width:960px; height:150px;}
#banner_innerpage .title{width:570px; height:130px; float:left; padding:20px 0px 0px 30px;}
#banner_innerpage #signupbut{width:288px;  text-align:center; margin:0px auto; background:url(../images/post_job_buttonnew.png) no-repeat; height:65px; cursor:pointer; margin:40px 0px 0px 50px; float:left;}
#banner_innerpage #signupbut:hover{width:288px;  text-align:center; margin:0px auto; background:url(../images/post_job_buttonnew.png) 0 -65px no-repeat; height:65px; cursor:pointer;  margin:40px 0px 0px 50px; }


/*Banner styles ends*/

/*Content styles*/
#homecontent{ margin:0px auto; width:960px;}
#homecontent #leftpanel{width:509px; float:left; margin-top:20px; border-right:1px solid #D9C6AC;}
#homecontent #leftpanel .features{width:480px; padding:10px 5px 10px 0px; border-bottom:1px dashed #D9C6AC; }
#homecontent #leftpanel .features img{ float:left; display:block; margin:0px 15px 0px 0px;  }
.features_title{font:bold 12px "trebuchet MS",Verdana, Arial, Helvetica, sans-serif; color:#9C0000; text-decoration:none; }
#homecontent #leftpanel_innerpage{width:960px; margin:0px auto; }
#homecontent #leftpanel_innerpage .features{width:940px; padding:10px 5px 10px 0px; border-bottom:1px dashed #D9C6AC; }
#homecontent #leftpanel_innerpage .features img{ float:left; display:block; margin:0px 15px 0px 0px;  }
.features_title{font:bold 12px "trebuchet MS",Verdana, Arial, Helvetica, sans-serif; color:#9C0000; text-decoration:none; }
#homecontent #rightpanel{width:430px; float:left; padding-top:20px; padding-left:20px; }
#homecontent #rightpanel #support{width:390px; float:left; padding:15px 20px 20px 20px;background:url(../images/book_icon.png) no-repeat bottom right; background-color:#F9F3E9;  }
#homecontent #rightpanel #support li{ font:12px "trebuchet MS",Verdana, Arial, Helvetica, sans-serif; padding-left:10px; text-decoration:none; line-height:18px;  }
#homecontent #rightpanel #support li a{ background:url(../images/arrow.png) no-repeat; padding-left:15px; text-decoration:none; color:#000000; }
#homecontent #rightpanel #support li a:hover{ text-decoration:underline; color:#A10000; }
#homecontent #testimonials{ clear:both;width:960px;  padding-top:20px; }
blockquote {font:12px "trebuchet MS",Verdana, Arial, Helvetica, sans-serif; margin:10px 0px;  color:#2A2A2A; padding: 5px 30px; background: url(../images/quote.gif) no-repeat 0 0;}
.speaker{font:11px "trebuchet MS",Verdana, Arial, Helvetica, sans-serif; color:#9C0000; text-decoration:none; line-height:18px; float:right;}
/*content  styles ends*/

/*Footer styles*/
#footer{ clear:both; width:100%; height:200px; background-color:#000000; margin-top:20px;}
#footericons{ clear:both; margin:0px auto; width:800px; height:103px;  }
#footericons #email{ width:376px; height:98px; float:left; background:url(../images/email_bg.png) no-repeat; margin-top:5px; line-height:20px; }
#footericons #twitter{ width:376px; height:98px; float:right; background:url(../images/twitter_bg.png) no-repeat; margin-top:5px; line-height:20px;  }
#footerlinks{ margin:0px auto; font:bold 12px "trebuchet MS",Verdana, Arial, Helvetica, sans-serif; color:#FFFFFF; text-decoration:none;   text-align:center; padding-top:5px; padding-bottom:10px;  line-height:40px; }
#footerlinks a{ color:#FFFFFF; text-decoration:none; line-height:40px; padding:5px 20px 10px 0px; }
#footerlinks a:hover{  text-decoration:underline; color:#CC0000;padding:5px 20px 10px 0px; line-height:40px; }
#copyrights{ width:100%; margin:0px auto; font:11px "trebuchet MS",Verdana, Arial, Helvetica, sans-serif; color:#FFFFFF; text-decoration:none; line-height:50px; border-top:1px solid #282828; text-align:center;}
#copyrights a{ font:11px "trebuchet MS",Verdana, Arial, Helvetica, sans-serif; color:#FFFFFF; text-decoration:underline; text-align:center;}
#copyrights a:hover{text-align:center; color:#CC3300; text-decoration:underline;}


.onepixelborder{ border-bottom:1px solid #282828; height:1px;}

/*Others styles*/
.redlink{ color:#CC0000; text-decoration:none; }
.redlink:hover{  text-decoration:underline; color:#FFFFFF; }
.meroonlink{ color:#CC0000; text-decoration:none; }
.meroonlink:hover{  text-decoration:underline; color:#000000; }
.clear{clear:both;}

/* pricing page */
#pricingtable{width:898px; margin:0px auto;}
#pricingtable #top{width:898px; background: url(../images/pricing_table_top.gif) no-repeat; height:25px;}
#pricingtable #middle{width:896px; border-left:1px solid #EEDABC; border-right:1px solid #EEDABC; background-color:#FDF9F3;}
#pricingtable #bottom{width:898px; background: url(../images/pricing_table_bottom.gif) no-repeat; height:25px}
#pricingtable #column1{width:306px; float:left; display:block; margin-top:63px;border-top:1px solid #EEDABC;}
#pricingtable #column1 li{font:14px "trebuchet MS",Verdana, Arial, Helvetica, sans-serif; color:#482B00; text-decoration:none; padding-left:20px; line-height:29px; border-bottom:1px solid #EEDABC;}
#pricingtable #column2{width:107px; height:472px; float:left; display:block; margin-right:9px; background:url(../images/free_pricing.png) no-repeat;}
#pricingtable #column3{width:107px; height:472px;float:left; display:block; margin-right:9px;background:url(../images/starter_pricing.png) no-repeat;}
#pricingtable #column4{width:107px; height:472px;float:left; display:block; margin-right:9px;background:url(../images/pro_pricing.png) no-repeat;}
#pricingtable #column5{width:107px; height:472px;float:left; display:block; margin-right:9px;background:url(../images/elite_pricing.png) no-repeat;}
#pricingtable #column6{width:107px; height:472px;float:left; display:block; margin-right:9px;background:url(../images/unlimited_pricing.png) no-repeat;}
.pricing_signup{width:92px; height:40px; background:url(../images/pricing_signup_but.png) no-repeat; display:block; margin-top:415px; margin-left:8px; cursor:pointer;}
.pricing_signup:hover{ background:url(../images/pricing_signup_but_r.png) no-repeat; display:block; }
.pricing_prosignup{width:92px; height:40px; background:url(../images/pricing_pro_but.png) no-repeat; display:block; margin-top:415px; margin-left:8px; cursor:pointer;}
.pricing_prosignup:hover{width:92px; height:40px; background:url(../images/pricing_pro_but_r.png) no-repeat; display:block; margin-top:415px; margin-left:8px; cursor:pointer;}

/* form elements */
fieldset{border:1px solid #E9D4B7; margin-top:5px;}
.contact{width:300px; background-color:#FBF8ED; border:1px solid #D8C7AF; }
.contact input{width:300px; background-color:#FBF8ED; border:0px solid #D8C7AF; padding:3px;}
.contactdetails input{width:300px; background-color:#FBF8ED; border:1px solid #D8C7AF; padding:3px;}
#submit_button{width:113px ; height:31px; border:none; background:url(../images/submit_button.png); cursor:pointer; display:block; color:#FFFFFF;font:bold 12px "trebuchet MS", Arial, Helvetica, sans-serif;}
#submit_button:hover{width:113px ; height:31px; border:none; background:url(../images/submit_button_r.png); cursor:pointer; display:block; color:#FFFFFF;font:bold 12px "trebuchet MS", Arial, Helvetica, sans-serif;}
.contactlabel{font:12px "trebuchet MS",Verdana, Arial, Helvetica, sans-serif; color:#482B00; text-decoration:none; line-height:22px; }


.contactsubmit{width:113px ; height:31px; border:none; background:url(../images/applybut_bg.png); cursor:pointer; color:#FFFFFF;font:bold 12px "trebuchet MS", Arial, Helvetica, sans-serif; text-align:center; display:block;  line-height:30px;}
.contactsubmit:hover{width:113px ; height:31px; border:none; background:url(../images/applybut_bg_r.png); cursor:pointer;  color:#FFFFFF;font:bold 12px "trebuchet MS", Arial, Helvetica, sans-serif;text-align:center;display:block; line-height:30px;}
legend{font:bold 18px "trebuchet MS",Verdana, Arial, Helvetica, sans-serif; color:#9C0000; text-decoration:none; line-height:24px;  padding-bottom:8px; padding-top:10px;}
.login_fieldset{width:420px; margin:0px auto; font:12px "trebuchet MS",Verdana, Arial, Helvetica, sans-serif; color:#482B00; text-decoration:none; line-height:22px;}
/*form elements*/

.errortext{font:10px Arial, Helvetica, sans-serif; color:#FF0000;}
.errorlist{font:10px Arial, Helvetica, sans-serif; color:#FF0000;}


/* demo page */
#frontend_demo{width:420px; float:left; text-align:center; border:5px solid #F1EDE0; background-color:#FCF9EF; margin-top:15px; padding:5px;}
#frontend_demo img{ border:3px solid #F1EDE0;}
#frontend_demo img:hover{ border:3px solid #D4C490;}

#backend_demo{width:420px; float:left; text-align:center; border:5px solid #F1EDE0; margin-left:10px;background-color:#FCF9EF; margin-top:15px; padding:5px;}
#backend_demo img{ border:3px solid #F1EDE0;}
#backend_demo img:hover{ border:3px solid #D4C490;}

.helptext{
	font-size: 70%;
	
}
