{% load compress %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="icon" type="image/vnd.microsoft.icon" href="{{ MEDIA_URL }}favicon.ico" />
<title>{% block title %}	
		JobBoardsHQ - Hosted job board software - Start your job board in minutes.
	{% endblock title %}</title>
<link href="{{ MEDIA_URL }}sitewide/css/reset.css" rel="stylesheet" type="text/css" />
{% compress css %}
<link href="{{ MEDIA_URL }}sitewide/css/styles.css" rel="stylesheet" type="text/css" />
{% endcompress %}
<!--[if lt IE 7]>
        <script type="{{ MEDIA_URL }}sitewide/text/javascript" src="js/unitpngfix.js"></script>
<![endif]-->
</head>
<body class="homepage">
	
	<!-- ClickTale Top part -->
<script type="text/javascript">
var WRInitTime=(new Date()).getTime();
</script>
<!-- ClickTale end of Top part -->

<div id="wrapper">
  <!--Header starts-->
  {% block header %}
  <div id="header"> <a href="{% url sitewide_index %}"><img src="{{ MEDIA_URL }}sitewide/images/jobboards_logo.gif" alt="Job Boards logo" width="315" height="67" /></a> {% endblock header %} </div>
  <!--Header Ends-->
  <!--Top Navigation Starts-->
  <div id="top_navigation"> {% block topnav %}
    <ul id="nav-example">
      {% include "sitewide/navbar.html" %}
    </ul>
    {% endblock topnav %} </div>
  <!--Top Navigation ends-->
  <!--Banner starts-->
  <div id="banner"> {% block banner %}
    <div id="screencast"><img src="{{ MEDIA_URL }}sitewide/images/screencast.gif" alt="Screencast" /></div>
    <a href="{% url sitewide_register_board %}">
    <div id="signup"> <img src="{{ MEDIA_URL }}sitewide/images/title_homepage.png" alt="Create your Job Board" width="342" height="142" />
      <div  id="button"> </div>
    </div>
    </a> {% endblock banner %} </div>
  <!--Banner ends-->
  {% block content %}
  <!--content starts-->
  <!--content starts-->
  {% endblock content %} </div>
<div class="clear"></div>
{% include "sitewide/footer.html" %}

<!-- ClickTale Bottom part -->
<div id="ClickTaleDiv" style="display: none;"></div>
<script type="text/javascript">
if(document.location.protocol!='https:')
  document.write(unescape("%3Cscript src='http://s.clicktale.net/WRb5.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
if(typeof ClickTale=='function') ClickTale(36878,0.5,"www");
</script>
<!-- ClickTale end of Bottom part -->



</body>
</html>
