<title>Contact Job Boards team</title>{% extends "sitewide/base_inner.html" %}

{% block banner %}
{% endblock banner %}

{% block content %}
     <div id="leftpanel_innerpage">
<div id="pricingtable">

	<table>
		<form>
			{{ form }}
				<tr>
			<td>
				<input type="submit" name="submit" value="Get in Touch" />
			</td>
		</tr>
	
		</form>
	</table>	
	
	<p>
		Or get in touch with us Via.
		
	</p>
	<p>
		Email: XXXXXXXXXXXXXXXXX
		Phone: XXXXXXXXXXXXXXX
		Fax: XXXXXXXXXXXXXX
		Skype: XXXXXXXXXXX
		Twitter; XXXXXXXXXXXXX	
        </p>
        </div>
       
</div>   </div>
	
{% endblock content %}