<title>Demo of Job Boards HQ on how it works and how to use it.</title>
{% extends "sitewide/base_inner.html" %}


{% block content %}

<div id="homecontent">
    <!--Features starts-->
    <div id="innerpage_content">
      <div id="pricingtable">
      <div id="frontend_demo"> <h1>Job Board Demo</h1>
        Click on the thumbnail <br/>
         to view the demo job board.<br/><br/>
         <a href="http://demoboard.jobboardshq.com/" target="_blank"><img src="{{ MEDIA_URL }}sitewide/images/frontend_demo.png" alt="Job Board Demo" width="400" height="308" /></a></div>
      <div id="backend_demo"> <h1>Admin Demo</h1>
        Customize the demo jobboard, via the admin site<br/> 
        Username : demo | Password : demo<br/><br/>
        <a href="http://demoboard.jobboardshq.com/manage/" target="_blank"><img src="{{ MEDIA_URL }}sitewide/images/demo_admin.gif" alt="Job Board Admin Demo" width="400" height="308" /></a></div>
      <div class="clear"></div>
      </div>
    </div>
    <!--Features ends-->
    <!--content starts-->
{% endblock content %}
