<title>Demo of Job Boards HQ on how it works and how to use it.</title>
{% extends "sitewide/base_inner.html" %}

{% block banner %}
{% endblock banner %}

{% block content %}

    <div id="leftpanel_innerpage">
<div id="pricingtable">[Here two panels one linking to http://demoboard.jobboardshq.com/manage/ and other linking to http://demoboard.jobboardshq.com/manage/
with the respective screenshots. The logoin details are demo/demo, which should be disclosed on this page.] 

 <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
</div>   </div>
