{% extends "sitewide/base_inner.html" %}

	{% block title %}	
		Features - {{ block.super }}
	{% endblock title %}

{% block extraheader %}
<link rel="stylesheet" href="{{ MEDIA_URL }}sitewide/css/featuresslider.css"  type="text/css"/>
<script type="text/javascript" src="{{ MEDIA_URL }}sitewide/js/jquery.min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}sitewide/js/jquery.featureList-1.0.0.js"></script>
<script language="javascript">
		$(document).ready(function() {
			$.featureList(
				$("#tabs li a"),
				$("#output li"), {
					start_item	:	1
				}
			);

			/*
			
			// Alternative

			
			$('#tabs li a').featureList({
				output			:	'#output li',
				start_item		:	1
			});

			*/

		});
	</script>
{% endblock %}
{% block content %}
<div id="homecontent">
  <div id="innerpage_content">
    <div id="content">
      <div id="feature_list">
        <ul id="tabs">
          <li> <a href="javascript:;"> <img src="{{ MEDIA_URL }}/sitewide/images/time_small.png" width="32" height="32" />
            <h5>Get your job board in seconds </h5>
            </a> </li>
          <li> <a href="javascript:;"> <img src="{{ MEDIA_URL }}/sitewide/images/downloads_small.png" width="32" height="32" />
            <h5>Customizable job fields</h5>
            </a> </li>
          <li> <a href="javascript:;"> <img src="{{ MEDIA_URL }}/sitewide/images/cards_small.png" width="32" height="32" />
            <h5>payment gateways</h5>
            </a> </li>
          <li> <a href="javascript:;"> <img src="{{ MEDIA_URL }}/sitewide/images/nodownloads_small.png" width="32" height="32"  />
            <h5>Nothing to download and install </h5>
            </a> </li>
          <li> <a href="javascript:;"> <img src="{{ MEDIA_URL }}/sitewide/images/search_small.png" width="32" height="32"  />
            <h5>Powerful job / Resume search</h5>
            </a> </li>
          <li> <a href="javascript:;"> <img src="{{ MEDIA_URL }}/sitewide/images/alerts_small.png" width="32" height="32"  />
            <h5> New job and resume alerts</h5>
            </a> </li>
          <li> <a href="javascript:;"> <img src="{{ MEDIA_URL }}/sitewide/images/applications.png" width="32" height="32" />
            <h5>Application tracking </h5>
            </a> </li>
          <li> <a href="javascript:;"> <img src="{{ MEDIA_URL }}/sitewide/images/programming.png" />
            <h5>Best in class SEO </h5>
            </a> </li>
          <li> <a href="javascript:;"> <img src="{{ MEDIA_URL }}/sitewide/images/twitter_small.png" />
            <h5>Twitter integration </h5>
            </a> </li>
          <li> <a href="javascript:;"> <img src="{{ MEDIA_URL }}/sitewide/images/google_small.png" />
            <h5>Google analytics integration. </h5>
            </a> </li>
          <li> <a href="javascript:;"> <img src="{{ MEDIA_URL }}/sitewide/images/cms_small.png" />
            <h5>Integrated basic CMS </h5>
            </a> </li>
          <li> <a href="javascript:;"> <img src="{{ MEDIA_URL }}/sitewide/images/excel_small.png" />
            <h5>No lock in </h5>
            </a> </li>
        </ul>
        <ul id="output">
          <li> <img src="{{ MEDIA_URL }}/sitewide/images/feature1.jpg" /> </li>
          <li> <img src="{{ MEDIA_URL }}/sitewide/images/feature2.jpg" /> </li>
          <li> <img src="{{ MEDIA_URL }}/sitewide/images/feature3.jpg" /> </li>
          <li> <img src="{{ MEDIA_URL }}/sitewide/images/feature4.jpg" /> </li>
          <li> <img src="{{ MEDIA_URL }}/sitewide/images/feature5.jpg" /> </li>
          <li> <img src="{{ MEDIA_URL }}/sitewide/images/feature6.jpg" /> </li>
          <li> <img src="{{ MEDIA_URL }}/sitewide/images/feature7.jpg" /> </li>
          <li> <img src="{{ MEDIA_URL }}/sitewide/images/feature8.jpg" /> </li>
          <li> <img src="{{ MEDIA_URL }}/sitewide/images/feature9.jpg" /> </li>
          <li> <img src="{{ MEDIA_URL }}/sitewide/images/feature10.jpg" /> </li>
          <li> <img src="{{ MEDIA_URL }}/sitewide/images/feature11.jpg" /> </li>
          <li> <img src="{{ MEDIA_URL }}/sitewide/images/feature12.jpg" /> </li>
        </ul>
      </div>
    </div>
  </div>
</div>
{% endblock content %}