<div id="footer"> 
  <div id="footerlinks"><a href="{% url sitewide_index %}">Home</a> 
  <a href="{% url sitewide_features %}">Features</a> 
  <a href="{% url sitewide_demo %}">Demo</a> 
  <a href="{% url sitewide_pricing %}">Pricing</a> 
  <a href="{% url sitewide_support %}">Support</a> 
  <a href="{% url sitewide_contact %}">Contact Us</a>  
  <div id="icons"> 
    <div id="email"> 
      <p>Contact us at :<br/> 
        <a href="mailto:support@smartjobboard.com" class="redlink">hello@jobboardshq.com</a></p> 
    </div> 
    <div id="twitter"> 
      <p>Follow us on Twitter<br/> 
        <a href="http://twitter.com/ZobPress" target="_blank" class="redlink">http://twitter.com/ZobPress</a></p> 
    </div> 
  </div> 
  <div id="copyrights">&copy; Copyright 2010 Zobpress.com. All Rights Reserved</div> 
</div> 
