<div id="footer">
<div id="footerlinks"><a href="{% url sitewide_index %}">Home</a> <a href="{% url sitewide_features %}">Features</a> <a href="{% url sitewide_demo %}">Demo</a> <a href="{% url sitewide_pricing %}">Pricing</a> <a href="{% url sitewide_register_board %}">Sign Up</a> <a href="{% url sitewide_contact %}">Contact Us</a>
  <div class="onepixelborder"></div>
  <div id="footericons">
    <div id="email">
      <p class="email">Contact us at :<br/>
        <a href="mailto:support@jobboardshq.com" class="redlink">hello@jobboardshq.com</a></p>
    </div>
    <div id="twitter">
      <p class="twitter">Follow us on Twitter<br/>
        <a href="http://twitter.com/jobboardshq" target="_blank" class="redlink">http://twitter.com/jobboardshq</a></p>
    </div>
  </div>
</div>
  <div id="copyrights">    &copy; Copyright 2009-2010 <a href="http://www.jobboardshq.com/">JobBoardsHQ.com</a>. All Rights Reserved |
    An <a href="http://uswaretech.com/">Usware Technologies</a> application.
</div>

</div>
