<title>Job Boards |  Create your board in seconds</title>{% extends 'sitewide/base.html' %}

{% block content %}
<div id="homecontent">
  <!--Features starts-->
  <div id="leftpanel">
    <h1>Key Features of Job Boards</h1>
    <div class="features"><img src="{{ MEDIA_URL }}sitewide/images/time.png" alt="Seconds" width="52" height="52" />
      <p><span class="features_title"> Get your job board in seconds</span> <br/>
        Create your board in seconds and start adding jobs right away.<br/>
        Just Sign Up and start managing your Job Board.<br/>
      </p>
    </div>
    <div class="features"><img src="{{ MEDIA_URL }}sitewide/images/customize_icon.png" alt="Customize" width="52" height="52" />
      <p><span class="features_title"> Customizable job fields</span> <br/>
        Add any number of custom job fields. Customise Job form with our GUI form builder.. </p>
    </div>
    <div class="features"><img src="{{ MEDIA_URL }}sitewide/images/paypal_icon.png" alt="Authorized Payment Gateways" width="52" height="52" />
      <p><span class="features_title">PayPal payment gateways </span> <br/>
        Charge for posting to the Job board, or make it free or disable completely. You are in control. </p>
    </div>
    <div class="features"><img src="{{ MEDIA_URL }}sitewide/images/nodownloads_icon.png" alt="No DOwnloads , No Installations" width="52" height="52" />
      <p><span class="features_title"> Nothing to download and install</span> <br/>
        Our job boards are fully-hosted so there's nothing for you to install. Server management headaches are so last century.</p>
    </div>
    <div class="features"><img src="{{ MEDIA_URL }}sitewide/images/search_icon.png" alt="Powerful Search" width="52" height="52" />
      <p><span class="features_title"> Powerful search</span> <br/>
        Quick, advanced, keyword or boolean. Perfect balance of power and simplicity.</p>
    </div>
    <div class="features"><img src="{{ MEDIA_URL }}sitewide/images/alerts_icon.png" alt="Job Alerts" width="52" height="52" />
      <p><span class="features_title"> New job alerts</span> <br/>
        Subscribe to recieve latest job listings. Manage your subscriber list form our powerful admin. </p>
    </div>
    <div class="features"><img src="{{ MEDIA_URL }}sitewide/images/tracking_icon.png" alt="Application Tracking" width="52" height="52" />
      <p><span class="features_title"> Application tracking </span> <br/>
        View, delete, accept or reject applications from job seekers. The perfect sourcing tool. Live 24x7. </p>
    </div>
  </div>
  <!--Features ends-->
  <div id="rightpanel">
    <div>
      <h1>About Job Boards</h1>
      <p class="aboutus">JobBoardsHQ Job Board Software lets you launch an easy-to-use advanced Job Board,
      while providing the key features to generate revenue and be successful in the competitive job board market.
      JobBoardsHQ is scalable and <strong>fully customizable</strong> solution to meet your unique Job Board requirements.</p>
      <p>Our  Job Boards product - JobBoardsHq, lets employers, recruiters and enterprenuers to publish their own Job Board.
      that can be managed easily. Its development is based on great experience of developing and maintaining various job boards.
      With nothing to nothing, and nothing to install, you would be up and running in minutes.
      </p>
    </div>
    <br/>
    <div id="support">
      <h1>Support</h1>
      <p>We're always ready to provide our clients with all necessary help and information they need. <br/>
        <br/>
        For any questions, please contact us at <a href="mailto:hello@jobboardshq.com" class="meroonlink">hello@jobboardshq.com</a>. We'll be glad to assist you.<br/>
        
        <br/>
        We can help you to:<br/>
      <ul>
        <li>Customise the JobBoard to your unique requirements.</li>
        <li>Help you get started.</li>
        <li>Answer any questions.</li>
      </ul>
      </p>
    </div>
  </div>
  <div id="testimonials">
    <h1>Latest posted job</h1>
    <blockquote>
      <p>{{ latestjob.name }}</p>
      {{ latestjob.description|truncatewords_html:50|safe }}
      <br/>
      <span class="speaker">
        <a href="{{ latestjob.board.get_absolute_url }}{{ latestjob.get_absolute_url }}">Visit site</a></span></blockquote>
  </div>
</div>
{% endblock %} 