{% extends 'sitewide/base.html' %}

{% block content %}
<div id="homecontent">
  <!--Features starts-->
  <div id="leftpanel">
    <h1>Key Features of JobBoardsHQ</h1>
    <div class="features"><img src="{{ MEDIA_URL }}sitewide/images/time.png" alt="Seconds" width="52" height="52" />
      <p><span class="features_title"> Get your job board in seconds</span> <br/>
        Create your board in seconds and start adding jobs right away.<br/>
        Just Sign Up and start managing your Job Board.<br/>
      </p>
    </div>
    <div class="features"><img src="{{ MEDIA_URL }}sitewide/images/customize_icon.png" alt="Customize" width="52" height="52" />
      <p><span class="features_title"> Customizable job fields</span> <br/>
        Add any number of custom job fields. Customise Job form with our GUI form builder.. </p>
    </div>
    <div class="features"><img src="{{ MEDIA_URL }}sitewide/images/paypal_icon.png" alt="Authorized Payment Gateways" width="52" height="52" />
      <p><span class="features_title">PayPal payment gateways </span> <br/>
        Charge for posting to the Job board, or make it free or disable completely. You are in control. </p>
    </div>
    <div class="features"><img src="{{ MEDIA_URL }}sitewide/images/nodownloads_icon.png" alt="No DOwnloads , No Installations" width="52" height="52" />
      <p><span class="features_title"> Nothing to download and install</span> <br/>
        Our job boards are fully-hosted so there's nothing for you to install. Server management headaches are so last century.</p>
    </div>
    <div class="features"><img src="{{ MEDIA_URL }}sitewide/images/search_icon.png" alt="Powerful Search" width="52" height="52" />
      <p><span class="features_title"> Powerful search</span> <br/>
        Quick, advanced, keyword or boolean. Perfect balance of power and simplicity.</p>
    </div>
    <div class="features"><img src="{{ MEDIA_URL }}sitewide/images/alerts_icon.png" alt="Job Alerts" width="52" height="52" />
      <p><span class="features_title"> New job alerts</span> <br/>
        Subscribe to recieve latest job listings. Manage your subscriber list form our powerful admin. </p>
    </div>
    <div class="features"><img src="{{ MEDIA_URL }}sitewide/images/tracking_icon.png" alt="Application Tracking" width="52" height="52" />
      <p><span class="features_title"> Application tracking </span> <br/>
        View, delete, accept or reject applications from job seekers. The perfect sourcing tool. Live 24x7. </p>
    </div>
  </div>
  <!--Features ends-->
  <div id="rightpanel">
    <div>
      <h1>About JobBoardsHQ</h1>
      <p class="aboutus"><a href="http://www.jobboardshq.com/" target="_blank" class="meroonlink">JobBoardsHQ</a> Job Board Software lets you launch an easy-to-use advanced Job Board,
      while providing the key features to generate revenue and be successful in the competitive job board market.
      JobBoardsHQ is scalable and <strong>fully customizable</strong> solution to meet your unique Job Board requirements.</p>
      <p>Our  job board product - JobBoardsHq, lets employers, recruiters and enterprenuers to publish their own Job Board.
      that can be managed easily. Its development is based on great experience of developing and maintaining various job boards.
      With nothing to nothing, and nothing to install, you would be up and running in minutes.
      </p>
    </div>
    <br/>
      <!--support-->
      <div id="support">
        <h1>Job Boards Hq is easy to use</h1>
        <div class="screen1">
          <img src="{{ MEDIA_URL }}sitewide/images/screen1.gif" alt="screen1" width="190" height="100" />
          <h4>Frontend</h4>
          <p>Your Frontend is ready to post jobs now and manage things.</p>
        </div>
        <div class="screen2">
          <img src="{{ MEDIA_URL }}sitewide/images/screen2.gif" alt="screen2" width="190" height="100" /><h4>Admin</h4>
          <p>You can manage everything from your admin.Adding Jobs, Creating Job Form,Adding Categories etc.</p>
        </div>
        <div class="screen3">
           <img src="{{ MEDIA_URL }}sitewide/images/screen3.gif" alt="screen3" width="190" height="100" /><h4>Create Job Form</h4>
          <p>This page allows you to customise the "Add Job Form" for your board.</p>
        </div>
        <div class="screen4">
           <img src="{{ MEDIA_URL }}sitewide/images/screen4.gif" alt="screen4" width="190" height="100" /><h4>Templates</h4>
          <p>You can choose a template theme from the multiple template options.</p>
        </div>
      </div>
      <!--support-->
        </div>
  
  {% if latestjob %}
  <div id="testimonials">
    <h1>Latest posted job</h1>
    <blockquote>
      <p>{{ latestjob.name }}</p>
      <p>{{ latestjob.description|truncatewords_html:50|safe }}</p>
      
      <span class="speaker">
        <a href="{{ latestjob.board.get_absolute_url }}{{ latestjob.get_absolute_url }}" class="meroonlink">Visit site</a></span></blockquote>
  </div>
  {% endif %}
</div>
{% endblock %} 