{% extends "sitewide/base_landing.html" %}

	{% block title %}	
		 Register - {{ block.super }}
	{% endblock title %}


{% block content %}
<body class="landingpage">
<div id="landingpage">
<br/><br/><br/><br/>
<table width="960" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="486" align="left" valign="top" class="bgdesign">&nbsp;</td>
    <td align="left" valign="top">&nbsp;</td>
    <td width="446" align="left" valign="top"><table width="446" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td align="left" valign="top"><img src="{{MEDIA_URL}}sitewide/images/register_top.jpg" width="446" height="68" alt="Register" /></td>
      </tr>
      <tr>
        <td height="444" align="left" valign="top" bgcolor="#FFFFFF">
              <!--form starts-->
      <form action="." method="post">
        <table width="400" border="0" cellspacing="0" cellpadding="0" align="center">
          <tr>
            <td><fieldset>
              <legend>Registration Details</legend>
              <table width="400" border="0" cellspacing="2" cellpadding="0">
                <tr>
                  <td width="60" align="left" valign="middle" class="contactlabel">{{ new_board_form.username.label }} :</td>
                  <td align="left" valign="middle" class="landing">{{ new_board_form.username }}</td>
                </tr>
                <tr>
                  <td width="60" height="6" align="left" valign="middle"></td>
                  <td align="left" valign="middle" height="6">{{ new_board_form.username.help_text }}{{ new_board_form.username.errors }}</td>
                </tr>
                <tr>
                  <td width="60" align="left" valign="middle" class="contactlabel">{{ new_board_form.email.label }} :</td>
                  <td align="left" valign="middle" class="landing">{{ new_board_form.email }}</td>
                </tr>
                <tr>
                  <td width="60" height="6" align="left" valign="middle"></td>
                  <td align="left" valign="middle" height="6">{{ new_board_form.email.help_text }}{{ new_board_form.email.errors }}</td>
                </tr>
                <tr>
                  <td width="60" align="left" valign="middle" class="contactlabel">{{ new_board_form.password1.label }} :</td>
                  <td align="left" valign="middle" class="landing">{{ new_board_form.password1 }}</td>
                </tr>
                <tr>
                  <td width="60" height="6" align="left" valign="middle"></td>
                  <td align="left" valign="middle" height="6">{{ new_board_form.password1.help_text }}{{ new_board_form.password1.username.errors }}</td>
                </tr>
                <tr>
                  <td width="60" align="left" valign="middle" class="contactlabel">{{ new_board_form.password2.label }} :</td>
                  <td align="left" valign="middle" class="landing">{{ new_board_form.password2 }}</td>
                </tr>
                <tr>
                  <td width="60" height="6" align="left" valign="middle"></td>
                  <td align="left" valign="middle" height="6">{{ new_board_form.password2.help_text }}{{ new_board_form.password2.errors }}</td>
                </tr>
              </table>
              </fieldset></td>
          </tr>
          <tr>
            <td><fieldset>
              <legend>Job Board Details</legend>
              <table width="100%" border="0" cellspacing="2" cellpadding="0">
                <tr>
                  <td width="60" align="left" valign="middle" class="contactlabel" >{{ new_board_form.subdomain.label }} :</td>
                  <td>http:// {{ new_board_form.subdomain }} .jobboardshq.com</td>
                </tr>
                <tr>
                  <td width="60" height="6" align="left" valign="middle"></td>
                  <td align="left" valign="middle" height="6">{{ new_board_form.subdomain.help_text }}{{ new_board_form.subdomain.errors }}</td>
                </tr>
                <tr>
                  <td width="60" align="left" valign="middle" class="contactlabel">{{ new_board_form.name.label }} :</td>
                  <td align="left" valign="middle" class="landing">{{ new_board_form.name }}</td>
                </tr>
                <tr>
                  <td width="60" height="6" align="left" valign="middle"></td>
                  <td align="left" valign="middle" height="6">{{ new_board_form.name.help_text }}{{ new_board_form.name.errors }}</td>
                </tr>
                <tr>
                  <td width="60" align="left" valign="middle" class="contactlabel">{{ new_board_form.description.label }} :</td>
                  <td align="left" valign="middle" class="landing">{{ new_board_form.description }}</td>
                </tr>
                <tr>
                  <td width="60" height="6" align="left" valign="middle"></td>
                  <td align="left" valign="middle" height="6">{{ new_board_form.description.help_text }}{{ new_board_form.description.errors }}</td>
                </tr>
              </table>
              </fieldset></td>
          </tr>
          <tr>
            <td align="center">&nbsp;</td>
          </tr>
          <tr>
            <td align="center"><input type="submit" name="Register" value="Register"  class="contactsubmit"/></td>
          </tr>
        </table>
      </form>
      <!--form ends-->

        </td>
      </tr>
      <tr>
        <td align="left" valign="top"><img src="{{MEDIA_URL}}sitewide/images/register_bottom.jpg" width="446" height="20" alt="Bottom" /></td>
      </tr>
    </table></td>
  </tr>
</table>
</div>
</body>
{% endblock %}