<li  id="nav-example-01" ><a href="{% url sitewide_index %}" class="current" ><span>Home</span></a></li>
<li id="nav-example-02"><a href="{% url sitewide_features %}" class="current"><span>Features</span></a></li>
<li id="nav-example-03"><a href="{% url sitewide_demo %}" class="current"><span>Demo</span></a></li>
<li id="nav-example-04"><a href="{% url sitewide_pricing %}" class="current"><span>Pricing</span></a></li>
<li id="nav-example-05"><a href="{% url sitewide_contact %}" class="current"><span>Contact Us</span></a></li>
 <li id="nav-example-06"></li>
<li id="nav-example-07"><a href="{% url auth_login %}" class="current"><span>Login</span></a></li>
<li id="nav-example-08"><a href="{% url sitewide_register_board %}" class="current"><span>Sign up</span></a></li>
