
<li  id="nav-example-01" ><a href="{% url sitewide_index %}"><span>Home</span></a></li>
<li id="nav-example-02"><a href="{% url sitewide_features %}"><span>Features</span></a></li>
<li id="nav-example-03"><a href="{% url sitewide_demo %}" ><span>Demo</span></a></li>
<li id="nav-example-04"><a href="{% url sitewide_pricing %}"><span>Pricing</span></a></li>
<li id="nav-example-05"><a href="{% url sitewide_support %}"><span>Support</span></a></li>
<li id="nav-example-06"><a href="{% url sitewide_contact %}"><span>Contact Us</span></a></li>
<li id="nav-example-07"></li>
<li id="nav-example-08"><a href="#"><span>Login</span></a></li>
<li id="nav-example-09"><a href="{% url sitewide_register_board %}"><span>Sign up</span></a></li>
