{% extends "sitewide/base_register.html" %}

{% block content %}

<div id="homecontent">
    <!--Features starts-->
    <div id="leftpanel_innerpage">
      <div id="pricingtable">
	      <h1>
	      	Thank you for registering a board on JobBoardsHQ.
	      </h1>
		  
		  <p>
		  	You are less that a minute away from start managing your Job board!
		  </p>
		  
		  <p>
		  	We have sent  a mail to you, click on the link in that mail, and your ready to login. Thanks again, and 
			if you need any help getting started, please mail us at <a href="mailto:hello@jobboardshq.com" class="meroonlink">hello@jobboardshq.com</a>.
		  </p>
		 
		 {% if board %} 
		 <h3>
		 	Things to do
		 </h3>
		 
		 <ul>
		 	<li>
		 		<a href="{{ board.get_absolute_url }}" class="meroonlink">See your board all ready and waiting for you. </a>
		 	</li>
			<li>
		 		<a href="{{ board.get_management_url }}" class="meroonlink">Manage your board.</a> (After you have activated your account.)
		 	</li>
		 </ul>		
         
{% endif %} 
     <br/>
     <br/><br/>
     <br/>
     <br/><br/>
	     
	    <div class="clear"></div>
    </div>
</div>
</div>

<!-- Google Code for registration Conversion Page -->
<script type="text/javascript">
<!--
var google_conversion_id = 1067238500;
var google_conversion_language = "en";
var google_conversion_format = "2";
var google_conversion_color = "ffffff";
var google_conversion_label = "yLsSCIrDsAEQ5Ijz_AM";
var google_conversion_value = 0;
if (10) {
  google_conversion_value = 10;
}
//-->
</script>
<script type="text/javascript" src="http://www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="http://www.googleadservices.com/pagead/conversion/1067238500/?value=10&amp;label=yLsSCIrDsAEQ5Ijz_AM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>

    <!--Features ends-->
    <!--content starts-->
{% endblock content %}