{% extends "sitewide/base_register.html" %}

	{% block title %}	
		 Register - {{ block.super }}
	{% endblock title %}


{% block content %}
<div id="leftpanel_innerpage">
  <div id="pricingtable">
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td align="left" valign="top">    <form action="." method="post">
      <table width="500" border="0" cellspacing="2" cellpadding="0">
        <tr>
          <td colspan="2"><h1>Register with us</h1></td>
        </tr>
        <tr> 
		{% for field in new_board_form.visible_fields %}
          <td width="200" align="left" valign="top" class="contactlabel">{{ field.label_tag }} :</td>
          <td align="left" valign="top" class="contact">{{ field }}
		  			  </td>
        </tr>
		{% if field.help_text %}
		<tr>
			<td align="left" valign="top">&nbsp;</td>
			 <td align="left" valign="top"><span class="helptext">{{ field.help_text }}</span></td>
		</tr> 
		{% endif %}
        <tr> 
			{% if field.errors %}
	          <td align="left" valign="top">&nbsp;</td>
	          <td align="left" valign="top">{{ field.errors }}</td>
	        {% endif %} 
		 </tr>
        {% endfor %}
        <tr>
          <td>&nbsp;</td>
          <td align="center"><input type="submit" name="Register" value="Register"  class="contactsubmit"/></td>
        </tr>
      </table>
      
    </form>
</td>
    <td align="left" valign="top"><img src="../../../site_media/sitewide/images/thankyounote.gif" alt="Thank you" width="300" height="315" /></td>
  </tr>
</table>

  </div>
</div>
{% endblock %}