<title>Contact Job Boards team</title>
{% extends "sitewide/base_inner.html" %}

{% block banner %}
{% endblock banner %}

{% block content %}
<div id="leftpanel_innerpage">
  <div id="pricingtable">
    <table width="400" border="0" cellspacing="2" cellpadding="0">
      <tr>
        <td colspan="2"><h1>Support </h1></td>
      </tr>
      <tr>
        <td colspan="2"  class="contactlabel">Send an email and we will get in touch with you.</td>
      </tr>
      <tr>
        <td  class="contactlabel"> Email: </td>
        <td ><a href="mailto:support@jobboardshq.com" class="contactlabel">support@jobboardshq.com</a></td>
      </tr>
    </table>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
  </div>
</div>
{% endblock content %}