<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

{% load compress %}

<title>{% block title %}{% endblock %}</title>

{% block feed %}
  <link rel="alternate" type="application/rss+xml" title="{{ board.name }}" href="{{ board.get_absolute_url }}" />
{% endblock %}

{% block css %}
  <link rel="stylesheet" href="/site_media/css/blueprint/screen.css" type="text/css" media="screen, projection">
  <link rel="stylesheet" href="/site_media/css/blueprint/print.css" type="text/css" media="print"> 
  <!--[if IE]>
    <link rel="stylesheet" href="/site_media/css/blueprint/ie.css" type="text/css" media="screen, projection">
  <![endif]-->
{% endblock %}

{% block extracss %}{% endblock %}


{% block script %}
{% compress js %}
  <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.js"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}js/ui.core.js"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}js/json2.js"></script>
{% endcompress %}
{% endblock %}

{% block extrascript %}{% endblock %}

</head>

<body>

<div class="container">
  <div class="span-24 header">
    {{ board }}
    <form action='{% url frontend_search %}'>
      <table>
        <input type='text' name='q' />
        <tr>
        <td>&nbsp;</td>
          <td><input type="submit" value="Search"></td>
        </tr>
      </table>
    </form>
  </div>
  
  <div class="span-24 toptab">
    {% block toptab %}
    {% endblock %}
  </div>
  
  <div class="span-24 category">
    {% block categories %}
    Categories: 
    {% for category in categories %}
      <a href="{{ category.get_absolute_url }}">{{ category.name }}</a>
    {% endfor %}
    {% endblock %}
  </div>
  
  
  <div class="span-18 content">
    {% block content %}
    {% endblock %}
  </div>
  
  <div class="span-6 sidebar last">
    {% if board %}
      {% if user.is_authenticated %}
        <ul>
          <li><a href="{% url auth_logout %}">Logout</a></li>
        </ul>
      {% endif %}
    
      <ul>
        <h3>Navigation</h3>
        <li><a href="{% url zobpress_add_job %}">Add an Job</a>        </li>
        <li><a href="{% url zobpress_jobs %}">See Jobs</a>             </li>
      </ul>
      
      {% if user.is_authenticated %}
        <h3>Manage</h3>
        <ul>
          <li><a href="{% url manage_create_job_form %}">Edit job form</a></li>
        </ul>
      {% endif %}
    
      <h3>Feeds</h3>
      <ul>
        <li><a href="{% url zobpress_feeds_jobs %}">Jobs Feed</a></li>
      </ul>
      
      {% load zobpress_filters %}
      <h3>Job Board Pages</h3>
      <ul>
      {% for p in board|get_job_board_pages %}
        <li><a href="{% url zobpress_job_board_page p.page_slug %}"> {{ p.title }}</a></li>
      {% endfor %}
      </ul>
    {% endif %}
  </div>
  
  <div class="span-24 footer"></div>
</div>

</body>
</html>
