{% extends 'frontend/base.html' %}

{% block content %}
<div class="left_padding">
<h4>Search</h4>                                            
<form method="get" action=".">                             
    <table>                                                
        {{ form.as_table }}                                
        <tr>                                               
            <td>&nbsp;</td>                                
            <td><input type="submit" value="Search"></td>  
        </tr>                                              
    </table>                                               
</form>                                               

<div id='search_results'>
    <h4>Search Results for: {{ query }}</h4>
    {% for result in page.object_list %}
        <div class='search_result_wrapper'>
        <ul>
        <li>
            <a href="{{ result.object.get_absolute_url }}" class="blacklink">
            {{ result.object.name }}
            </a>
            </li>
            </ul>
        </div>
    {% empty %}
        <p>No results found.</p>
    {% endfor %}
</div>
</div>
{% endblock content %}
