{% extends "frontend/base.html" %}

{% block extrajs %}
	<script type="text/javascript" src="{{ MEDIA_URL }}wymeditor/jquery.wymeditor.js"></script>
{% endblock extrajs %}


{% block content %}
<form action="." method="POST" enctype="multipart/form-data">
  <fieldset>
  <table>
    {{ job_static_form.as_table }}
  </table>
  </fieldset>
  <fieldset>
  <table>
    {{ job_form }}
  </table>
  </fieldset>
  <fieldset>
  <table>
    {{ job_contact_form }}
  </table>
  </fieldset>
  </fieldset>
  <input type="submit" name="create-job" value="submit" />
</form>
{% endblock %}