{% load compress %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="icon" type="image/vnd.microsoft.icon" href="{{ MEDIA_URL }}favicon.ico" />
<title>{% block title %} {{ board.name }} - {{ board_settings.tag_line }} {% endblock %}</title>
<meta description="{{ board.description }}" />
<meta keyword="{{ board_settings.keywords }}" />

<link rel="alternate" type="application/rss+xml" title="{{ board.name }}" href="{% url frontend_feeds_jobs %}" />
<link href="{{ MEDIA_URL }}frontend/css/reset.css" rel="stylesheet" type="text/css" />
{% compress css %}
<link href="{{ MEDIA_URL }}frontend/css/frontend.css" rel="stylesheet" type="text/css" />
{% endcompress %}


</head>
<body class="frontend">
{% if not debug %}  
  <!-- ClickTale Top part -->
  <script type="text/javascript">
  var WRInitTime=(new Date()).getTime();
  </script>
  <!-- ClickTale end of Top part -->
{% endif %}

{% load thumbnail %}
<!--Wrapper-->
<div id="frontend_wrapper">
  <!--Header Starts-->
  <div id="header_frontendcontainer">
    <div id="header_frontend"> 
	  <a href="{% url frontend_index %}"> 
		{% if board_settings.logo %} 
		  <img src="{% thumbnail board_settings.logo 250x50 %}" alt="Job Boards Demo" /> 
		{% else %}
		  {{ board.name }}
		{% endif %} 
	  </a> 
	  {% if not board_settings.logo %}<br/>
		<span class="tagline">{{ board_settings.tag_line }}</span> 
	  {% endif %} 
	</div>
	
    <div id="frontend_topnav"> 
	  {% if user.is_authenticated %}
		Welcome <span class="blacktext">{{ user.username }}</span></span> | 
		<a href="{% url auth_logout %}">Logout</a> | 
	  {% else %}
		<a href="{% url auth_login %}">Login</a> | 
	  {% endif %}
      <a href="#">Admin</a> | 
	  <a href="{% url frontend_feeds_jobs %}">RSS </a>
	   
	</div>
    <!--Header ends-->
    <!--Top Nav starts-->
    <div class="clear"></div>
  </div>
  <!--Top Nav ends-->
  <!--Search bar starts-->
  <div id="frontend_searchbar">
    <div class="searchjobs">Search All Jobs :</div>
    <form action="{% url frontend_search %}">
      <div class="searchfield">
        <input name="q" type="text" class="textfield"  id="textfield" value="Type your designation, skills" size="30" />
      </div>
      <div class="searchbutton">
        <input type="submit" value="" class="searchinputbutton" />
        </div>
    </form>
    <div class="advancedsearch">| <a href="#" class="searchlink">Advanced Search</a> </div>
    <a href="{% url frontend_addjob %}" >
    <div class="postjob"> </div>
    </a> </div>
  <!--Search bar ends-->
  <!--content starts-->
  <div id="frontend_content">
    <!--left side panel starts here-->
    <div id="leftpanel">
      <!--categories panel starts here-->
      <div id="categories">
        <div class="top">Jobs by Category</div>
        <div class="middle">
          <ul>
            {% for category in categories %}
            <li> <a href="{% url frontend_category_jobs category.slug %}">{{ category }} ( {{ category.get_public_jobs.count }})</a> </li>
            {% endfor %}
          </ul>
        </div>
        <div class="bottom"></div>
      </div>
      <!--categories panel ends here-->
      <div id="explore">
        <div class="top">Explore</div>
        <div class="middle">
          <ul>
            {% for page in pages %}
            <li> <a href="{{ page.get_absolute_url }}">{{ page }}</a> </li>
            {% empty %}
            <li>
              <p>No pages</p>
            </li>
            {% endfor %}
          </ul>
        </div>
        <div class="bottom"></div>
      </div>
      <div id="newsletter">
        <form action="{% url emailsubs_index %}" method="post">
          <div>
            <input name="email" type="text" class="newsletter_textfield" id="textfield2" />
          </div>
          <div> <a href="#">
            <input type="submit" value="" class="subscribebutton" />
            </a></div>
        </form>
      </div>
    </div>
    <!--left side panel starts here-->
    <!--Job Posts stats here-->
    <div id="rightpanel">
      <div class="top"></div>
      <div class="middle">{% block content %}{% endblock %} </div>
      <div class="bottom"></div>
    </div>
    <!--job posts ends here-->
  </div>
  <div class="clear"></div>
  <!--content ends-->
  {% include "frontend/footer.html" %} </div>


{% compress js %}
	<script src="{{ MEDIA_URL }}frontend/js/jquery-1.4.js" type="text/javascript"></script>
	<script src="{{ MEDIA_URL }}frontend/js/frontend.js" type="text/javascript"></script>
{% endcompress %}

{% block extrajs %}
{% endblock extrajs %}
<!--[if lt IE 7]>
        <script type="text/javascript" src="{{ MEDIA_URL }}frontend/js/unitpngfix.js"></script>
<![endif]-->
{% block analytics %}  
	{% if board_settings.analytics_code %}
		{{ board_settings.analytics_code }}
	{% endif %}
{% endblock analytics %}
 
{% if not debug %}
  <!-- ClickTale Bottom part -->
  <div id="ClickTaleDiv" style="display: none;"></div>
  <script type="text/javascript">
  if(document.location.protocol!='https:')
	document.write(unescape("%3Cscript src='http://s.clicktale.net/WRb5.js' type='text/javascript'%3E%3C/script%3E"));
  </script>
  <script type="text/javascript">
  if(typeof ClickTale=='function') ClickTale(36878,0.5,"www");
  </script>
  <!-- ClickTale end of Bottom part -->
{% endif %}

</body>
</html>
{% load compress %}