{% load compress %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="icon" type="image/vnd.microsoft.icon" href="{{ MEDIA_URL }}favicon.ico" />
<title>{{ board.name }} - {{ board_settings.tag_line }}</title>
<meta keyword="{{ board.description }}" />
<meta keyword="{{ board_settings.keywords }}" />

<link href="{{ MEDIA_URL }}frontend/css/reset.css" rel="stylesheet" type="text/css" />
{% compress css %}
<link href="{{ MEDIA_URL }}frontend/css/frontend.css" rel="stylesheet" type="text/css" />
{% endcompress %}

<script>
	document.domain = "{{ base_domain }}";
</script>


{% compress js %}
	<script src="{{ MEDIA_URL }}frontend/js/jquery-1.4.js" type="text/javascript"></script>
	<script src="{{ MEDIA_URL }}frontend/js/frontend.js" type="text/javascript"></script>
{% endcompress %}

{% block extrajs %}
{% endblock extrajs %}
<!--[if lt IE 7]>
        <script type="text/javascript" src="js/unitpngfix.js"></script>
<![endif]-->
</head>
<body class="frontend">
<!--Wrapper-->
<div id="frontend_wrapper">
  <!--Header Starts-->
  <div id="header_frontendcontainer">
  <div id="header_frontend">
  	<a href="{% url frontend_index %}">
  		{% if board_settings.logo %}
  			<img src="{{ board_settings.logo.url }}" alt="Job Boards Demo" />
		{% else %}
			
				{{ board.name }}
			
		{% endif %}
	</a>
		{% if not board_settings.logo %}
	
				{{ board_settings.tag_line }}
	
		{% endif %}
</div>
  <div id="frontend_topnav"> <a href="#">Login</a> | <a href="{% url frontend_feeds_jobs %}">Subscribe to RSS </a><img src="{{ MEDIA_URL }}frontend/images/rss_icon.png" alt="RSS" width="23" height="24"  /> </div>

  <!--Header ends-->
  <!--Top Nav starts-->
  <div class="clear"></div>
  </div>
  <!--Top Nav ends-->
  <!--Search bar starts-->
  <div id="frontend_searchbar">
    <div class="searchjobs">Search All Jobs :</div>
    <form action="{% url frontend_search %}">
      <div class="searchfield">
        <input name="q" type="text" class="textfield"  id="textfield" value="Type your designation, skills" size="30" />
      </div>
      <div class="searchbutton"><a href="#">
        <input type="submit" value="" class="searchinputbutton" />
        </a></div>
    </form>
    <div class="advancedsearch">| <a href="#" class="searchlink">Advanced Search</a> </div>
    <a href="{% url frontend_addjob %}" >
    <div class="postjob"> </div>
    </a>
    <!--    <div class="postjob">
      <ul id="menu">
        <li><a href="{% url frontend_addjob %}" class="postjobs"><span></span></a></li>
      </ul>
    </div>
-->
  </div>
  <!--Search bar ends-->
  <!--content starts-->
  <div id="frontend_content">
    <!--left side panel starts here-->
    <div id="leftpanel">
      <!--categories panel starts here-->
      <div id="categories">
        <div class="top">Jobs by Category</div>
        <div class="middle">
          <ul>
            {% for category in categories %}
            <li> <a href="{% url frontend_category_jobs category.slug %}">{{ category }} ( {{ category.get_public_jobs.count }})</a> </li>
            {% endfor %}
          </ul>
        </div>
        <div class="bottom"></div>
      </div>
      <!--categories panel ends here-->
      <div id="explore">
        <div class="top">Explore</div>
        <div class="middle">
          <ul>
            {% for page in pages %}
            <li> <a href="{{ page.get_absolute_url }}">{{ page }}</a> </li>
            {% empty %}
            <li>
              <p>No pages</p>
            </li>
            {% endfor %}
          </ul>
        </div>
        <div class="bottom"></div>
      </div>
      <div id="newsletter">
        <form action="{% url emailsubs_index %}" method="post">
          <div>
            <input name="email" type="text" class="newsletter_textfield" id="textfield2" />
          </div>
          <div> <a href="#">
            <input type="submit" value="" class="subscribebutton" />
            </a></div>
        </form>
      </div>
    </div>
    <!--left side panel starts here-->
    <!--Job Posts stats here-->
    <div id="rightpanel">
      <div class="top"></div>
      <div class="middle">{% block content %}{% endblock %} </div>
      <div class="bottom"></div>
    </div>
    <!--job posts ends here-->
  </div>
  <div class="clear"></div>
  <!--content ends-->
  {% include "frontend/footer.html" %} </div>
</body>
</html>
{% load compress %}