
<title>Jobboards HQ</title>

{% extends "frontend/base.html" %}

{% block content %}

<div class="middle">
      	
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td><table width="720" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td width="100" class="title"><span class="left_padding">Type</span></td>
                  <td width="300" class="title">Most Recent Job Offers</td>
                  <td width="120" class="title">Category</td>
                  <td width="100" class="title">Posted On</td>
                  <td>&nbsp;</td>
                </tr>
              </table></td>
          </tr>
          <tr>
            <td class="border"></td>
          </tr>
          <tr>
            <td><table width="723" border="0" align="center" cellpadding="0" cellspacing="0">
            	{% for job in jobs %}
                <tr class="{% cycle 'colorbg' 'whitebg' %}">
                  <td width="100" align="left" >
                  	<span class="left_padding">
                  	{{ job.job_type }}
					</span>
				  </td>
                  <td width="300" align="left"><span class="redtext">
                  	{{ job.name }}</span>
					 {% if job.company %}
					 at {{ job.company }}
					 {% endif %}
					 </td>
                  <td width="120" align="left">{{ job.category.name }} </td>
                  <td width="100" align="left">
                  	{{ job.created_on|date }}
                  </td>
                  <td align="left"><span class="apply_button"><a href="{% url frontend_apply job.id %}">Apply</a></span></td>
                </tr>
				{% endfor %}
              </table></td>
          </tr>
        </table>
        <div id="pagenation"> <a href="#">1</a> <a href="#">2</a> <a href="#">3</a> <a href="#">4</a> <a href="#">next</a> </div>
      </div>

{% endblock %}