{% extends "frontend/base.html" %}
{% load pagination_tags %}
{% autopaginate jobs 2 %}


{% block content %}
<!--job posts starts here-->

<div id="jobposts">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td><table width="723" border="0" align="center" cellpadding="0" cellspacing="0">
        <tr>
                  <td width="112" class="title"><span class="left_padding">Job Type</span></td>
            <td width="310" class="title">Most Recent Job Offers</td>
            <td width="125" class="title">Category</td>
            <td width="100" class="title">Posted On</td>
                  <td>&nbsp;</td>
                </tr>
              </table></td>
          </tr>
          <tr>
            <td class="border"></td>
          </tr>
          <tr>
            <td><table width="723" border="0" align="center" cellpadding="0" cellspacing="0">
		    {% for job in jobs %}
            <tr>
                  <td width="100" align="left" valign="top" class="{% cycle colorbg whitebg %}"><span class="left_padding"><a href="{% url frontend_job_type_jobs job.job_type.slug %}">{{job.job_type}}</a></span></td>
                  <td width="300" align="left" valign="top" class="{% cycle colorbg whitebg %}"><span class="redtext"><a href="{{ job.get_absolute_url }}" class="jobtext">{{ job.name }}</a>
				  {% if job.company or job.location %}
				  at <span class="company">{% firstof job.company job.location %}</span>
				  {% endif %}</td>
                  <td width="120" align="left" valign="top" class="{% cycle colorbg whitebg %}"><a href="{% url frontend_category_jobs job.category.slug %}">{{ job.category }}</a></td>
                  <td width="100" align="left" valign="top" class="{% cycle colorbg whitebg %}">{{ job.created_on|date }}</td>
                  <td align="left" valign="top" class="{% cycle colorbg whitebg %}"><span class="apply_button"><a href="{% url frontend_apply job.job_slug %}">Apply</a></span></td>
              </tr>
	  	{% empty %}
			<tr>
			  <p>No active jobs as of now.</p>
			</tr>
		{% endfor %}
			</table></td>
          </tr>
        </table>
	<div class="clear"></div> 
	<div id="pagenation"> {% paginate %} </div>
</div> 

<!--job posts ends here-->  
{% endblock %}


	
	
	
	
	
	
{% comment %}
<div class="middle">
          {% for job in jobs %}
          <tr class="{% cycle 'colorbg' 'whitebg' %}">
            <td width="130" align="left" ><span class="left_padding"> <a href="{% url frontend_job_type_jobs job.job_type.slug %}" class="badge1">{{ job.job_type }} </a></span> </td>
            <td width="300" align="left"><span class="redtext"> <a href="{{ job.get_absolute_url }}" class="redtext">{{ job.name }}</a></span> {% if job.company %}
              at {{ job.company }}
              {% endif %} </td>
            <td width="124" align="left"><a href="{% url frontend_category_jobs job.category.slug  %}" class="blacklink">{{ job.category.name }}</a> </td>
            <td width="80" align="left"> {{ job.created_on|date }} </td>
            <td align="left"><span class="apply_button"><a href="{% url frontend_apply job.job_slug %}">Apply</a></span></td>
          </tr>
          {% endfor %}
        </table></td>
    </tr>
  </table>
  <div id="pagenation"> {% paginate %} </div>
</div>
{% endcomment %}









