{% extends "frontend/base.html" %}
{% load pagination_tags %}
{% autopaginate jobs 10 %}


{% block content %}

<!--job posts starts here-->
<div id="jobposts">
  <ul>
  {% for job in jobs %}
	<li class="whitebg">
	  <a href="{{ job.get_absolute_url }}" class="jobtext">{{ job.name }}</a>
	  {% if job.company %}
	  at <span class="company">{{job.company}}</span>
	  {% else %}
	  <a href="{% url frontend_job_type_jobs job.job_type.slug %}" class="badge1">{{ job.job_type }} </a>
	  {% endif %}
	  <span class="apply_button"><a href="#">Apply</a></span></li>
	{% empty %}
	<li>
	  <p>No active jobs as of now.</p>
	</li>
  {% endfor %}
  </ul>
	<div class="clear"></div> 
	<div id="pagenation"> {% paginate %} </div>
</div> 
<!--job posts ends here--> 
  
  

	
	
	
	
	
	
{% comment %}
	
<div class="middle">
          {% for job in jobs %}
          <tr class="{% cycle 'colorbg' 'whitebg' %}">
            <td width="130" align="left" ><span class="left_padding"> <a href="{% url frontend_job_type_jobs job.job_type.slug %}" class="badge1">{{ job.job_type }} </a></span> </td>
            <td width="300" align="left"><span class="redtext"> <a href="{{ job.get_absolute_url }}" class="redtext">{{ job.name }}</a></span> {% if job.company %}
              at {{ job.company }}
              {% endif %} </td>
            <td width="124" align="left"><a href="{% url frontend_category_jobs job.category.slug  %}" class="blacklink">{{ job.category.name }}</a> </td>
            <td width="80" align="left"> {{ job.created_on|date }} </td>
            <td align="left"><span class="apply_button"><a href="{% url frontend_apply job.job_slug %}">Apply</a></span></td>
          </tr>
          {% endfor %}
        </table></td>
    </tr>
  </table>
  <div id="pagenation"> {% paginate %} </div>
</div>
{% endcomment %}

{% endblock %}










