{% extends 'registration/base.html' %}


{% block content %}
<div class="errorbg">
<p><span class="brown18">We are offering </span><br/>
<span class="meroon32">Job Board</span><br/>
<span class="brown18">with wide range of features</span></p>

  <table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td align="center" valign="bottom" ><p class="404">Get your job board in seconds <br/>
Customizable job and resume fields <br/>
PayPal, 2checkout and Authorize.net payment gateways <br/>
Powerful job / resume search <br/>

New job and resume alerts <br/>
Application tracking <br/></p>
</td>
  </tr>
  <tr>
    <td height="35" align="center" valign="bottom">First time here?</td>
  </tr>
  <tr>
    <td align="center" valign="middle" height="50"><a href="{% url sitewide_register_board %}"> <img src="{{ MEDIA_URL }}sitewide/images/register_button.png" alt="Register" width="157" height="45" /> </a></td>
  </tr>
  <tr>
    <td align="center" valign="bottom">Or try our demo account.<br/>
        <a href="http://demoboard.jobboardshq.com" target="_blank" class="meroonlink">Job Board</a> | <a href="http://demoboard.jobboardshq.com/manage" class="meroonlink">Admin</a><br/>
      Username: demo    Password: demo </td>
  </tr>
  </table>
  </div>
{% endblock %}