<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>
{% block title %}
  
{% endblock %}
</title>

<link rel="stylesheet" href="/site_media/css/blueprint/screen.css" type="text/css" media="screen, projection">
<link rel="stylesheet" href="/site_media/css/blueprint/print.css" type="text/css" media="print"> 
<!--[if IE]>
  <link rel="stylesheet" href="/site_media/css/blueprint/ie.css" type="text/css" media="screen, projection">
<![endif]-->

</head>

<body>

<div class="container">
  <div class="span-24 header">
  </div>
  
  <div class="span-24 toptab">
    {% block toptab %}
    {% endblock %}
  </div>
  
  <div class="span-18 content">
    {% block content %}
    {% endblock %}
  </div>
  
  <div class="span-6 sidebar last">
  </div>
  
  <div class="span-24 footer">
  </div>
</div>

</body>
</html>
