{% extends "zobpress-admin/base.html" %}

{% block extra_script %}
<script type="text/javascript" src="{{ MEDIA_URL }}admin/js/categories.js"></script>
{% endblock extra_script %}

{% block content %}
<div class="admin_heading">Add New Category</div>
<div class="admin_subheading1">
  <p class="admin">Add a new category by completing the fields which are applicable to the job and then click "Create Category". </p>
</div>
<form action="." method="post">
  <table>
    {{ form }}
  </table>
  <table width="210">
    <tr>
      <td  align="center"><input type="submit" name="create-category" value="Submit" class="apply" />
      </td>
    </tr>
  </table>
</form>
<br/>
<div class="admin_subheading1">
  <p class="admin">These are the existing categories. You can edit or delete them. </p>
</div>
<table width="300">
  {% for category in category_list %}
  <tr id="category_{{ category.pk }}">
    <td width="190"><a href="{% url zobpress_category_jobs category.slug %}" class="redtext">{{ category }}:</a> </td>
    <td width="70"> {{ category.job_set.count }} Jobs </td>
    <td width="70" align="center"><a href="{{ category.edit_url }}"  class="blacklink"> Edit </a> </td>
    <td width="70" align="center"><a href="{% url zobpress_delete_category category.pk  %}" class="blacklink delete_link"> Delete </a> </td>
  <tr/>
  {% empty %}
  <p>Please add a category</p>
  {% endfor %}
</table>
{% endblock %}