{% extends 'zobpress/base.html' %}

{% block extrascript %}
<script type="text/javascript" src="/site_media/js/ui.draggable.js">
</script>
<script type="text/javascript" src="/site_media/js/ui.droppable.js">
</script>
<script type="text/javascript" src="/site_media/js/ui.resizable.js">
</script>
<script type="text/javascript" src="/site_media/js/jquery.jeditable.js">
</script>
<script>

form_elements = Array();

$(document).ready(function(){
    $('.draggable').draggable({helper: 'clone'});
    make_droppable();
    $('#submit_button').click(function(){
        $.post('.', {'data':JSON.stringify(form_elements)}, function(data){window.location = data;});
        return false;
    });
    });

function make_droppable(){
    $('.dropbox').droppable(
        {accept:'.draggable',
        drop: function(ev, ui){
            key = form_elements.length;
            console.log(key);
            name = ui.draggable.children().filter('span').text();
            ui.draggable.children().filter('span').attr('key', key);
            if (ui.draggable.hasClass('charfield')){
                form_elements[key] = Array(name, 'CharField');
            }
            else if(ui.draggable.hasClass('textfield')){
                form_elements[key] = Array(name, 'TextField');
            }
            else if(ui.draggable.hasClass('checkbox')){
                form_elements[key] = Array(name, 'BooleanField');
            }
            $(this).append(ui.draggable.clone());
            make_editable();
            }
        }
    )
}
function make_editable(){
    $('.dropbox span').editable(function(value, settings){
        key = $(this).attr('key');
        form_elements[key][0] = value;
        return value;
        });
}

function generate_key(){
    size = 10;
    keyboard = "abcdefghijklmnopqrstuvwxyz";
    key = ""
    for (i = 0; i < size; i++){
        key += keyboard[Math.floor(Math.random()*26)];
    }
    return key;
}
</script>
{% endblock %}

{% block extracss %}

<style>
.dropbox{
    width: 600px;
    height: 500px;
    background-color: yellow;
}
</style>

{% endblock %}

{% block content %}

<div class="draggable charfield">
<span class="editable_text">
Text
</span>
<input type="text" />

</div>

<div class="draggable textfield">
<span class="editable_text">
Large Text
</span>
<textarea ></textarea>

</div>

<div class="draggable checkbox">
<span class="editable_text">
Checkbox
</span>
<input type="checkbox" />

</div>

<div class="dropbox">
    Drop here
</div>

<form id="submit_form">
    <input type="submit" name="create" value="create" id="submit_button" />
</form>

{% endblock %}