{% extends 'zobpress-admin/create_abstract_form.html' %}

        {% block input_area_help %}
        <p>This page allows you to customise the "Add Job Form" for your board.</p>
        
        <p>
            Drag the input boxes from this area to the Drop box. You can add as many
            input controls as you need.
        </p>
        {% endblock %}
        
        
        {% block dropbox_help %}
        Drop the input boxes into this area to create your form. Click submit when you are done
        to save your changes. The text for the controls can be edited by clicking on them.
        {% endblock %}