{% extends 'zobpress-admin/base.html' %}

{% block title %} {{ board.name }} - Create Page {% endblock title %}

{% block content %}

<div class="admin_heading">Add New Page</div>
<div class="admin_subheading1">
  <p class="admin">Create a new page and add content for the page. </p>
</div>
<table align="left">
 <form method='post'>

 
  {{ form }}
  <tr>
    <td>&nbsp;</td>
    <td><input type='submit' value='Create Page' /></td>
  </tr>
  </form>
</table>
{% endblock content %}