{% extends 'zobpress-admin/base.html' %}

{% load compress %}

{% block extrascript %}
	{% compress js %}
	<script type="text/javascript" src="{{ MEDIA_URL }}tiny_mce/jquery.tinymce.js"></script>
	{% endcompress %}
{% endblock %}

{% block content %}
<div class="admin_heading">Edit Job</div>
<div class="admin_subheading1">
  <p class="admin"> Here You can edit your Job details </p>
</div>
<div class="post"> <br />
  <form action="." method="post" enctype="multipart/form-data">
    <div class="form">
      <table>
        {% for field in job_static_form %}
        {% if field.errors %}
        <tr>
          <td><ul>
              {{ field.errors }}
            </ul></td>
        </tr>
        {% endif %}
        <tr>
          <td width="200" align="left" valign="middle"> {{ field.label_tag }} :</td>
          <td align="left" valign="top"> {{ field }}
            {% if field.help_text %}<span class="help">{{ field.help_text }}</span>{% endif %} </td>
        </tr>
        {% endfor %}
        {% for field in form %}
        
        {% if field.errors %}
        <tr>
          <td><ul>
              {{ field.errors }}
            </ul></td>
        </tr>
        {% endif %}
        <tr>
          <td width="200" align="left" valign="middle"> {{ field.label_tag }} :</td>
          <td align="left" valign="top"> {{ field }}
            {% if field.help_text %}<span class="help">{{ field.help_text }}</span>{% endif %} </td>
        </tr>
        {% endfor %}
      </table>
      <div class="clear"></div>
      <input type="submit" value="submit" name="submit" class="button" />
    </div>
  </form>
</div>
{% endblock %}