{% extends 'zobpress/base.html' %}

{% block content %}

<h2>
    Enter Your details. Enter as much information as possible to get your self noticed.
</h2>

<div class="post">

<br />

       <form action="." method="post" enctype="multipart/form-data">
        <div class="form">
        <table>
        {% for field in form %}
        <tr>
        <th>
        {{ field.label_tag }}
        </th>
        <td>
        {% if field.errors %} <span class="error">
        {% for error in field.errors %}
        {{ error }}
        {% endfor %}
        </span> {% endif %} 
        {{field}}
        {% if field.help_text %}<span class="help">{{ field.help_text }}</span>{% endif %}
        </td>
        </tr>
        <div class="clear"></div>
        
        {% endfor %}
            
        </table>
        <input type="submit" value="submit" name="submit" class="button" />
        </div>        
       </form>

</div>


{% endblock %}