	{% load zobpress_filters %}

		<div class="jobblock" id="job_{{ job.pk }}">
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td width="400" align="left" valign="top">
              	<span class="jobrole">
              	<a href="{{ job.get_absolute_url }}">
              		{{ job.name }}
				</a>	
					
				</span>
			  {{ job|get_location }}</td>
              <td rowspan="2" align="center" valign="middle">{{ job.created_on }}</td>
              <td width="60" rowspan="2" align="right" valign="bottom"><a href="{{ job.edit_link }}"><img src="{{ MEDIA_URL }}admin/images/edit_icon.gif" alt="Edit the Job" width="32" height="36" /></a></td>
              <td width="60" rowspan="2" align="right" valign="bottom"><a href="{% url zobpress_delete_job job.pk %}" class="delete_link"><img src="{{ MEDIA_URL }}admin/images/delete_icon.gif" alt="Delete the Job" width="35" height="35" /></a></td>
            </tr>
            <tr>
              <td align="left" valign="middle"><span class="parttime_badge">{{ job.job_type }}</span><span class="viewed"> Viewed {{ job.times_viewed }} times</span></td>
            </tr>
          </table>
        </div>