{% extends 'zobpress-admin/base.html' %}

{% block title %} Settings - {{ block.super }} {% endblock title %}

{% block extrascript %}
<script src="{{ MEDIA_URL }}admin/js/jquery-1.1.3.1.pack.js" type="text/javascript"></script>
<script src="{{ MEDIA_URL }}admin/js/jquery.tabs.min.js" type="text/javascript"></script>
<script type="text/javascript">
$(function() {
  $('#container-1').tabs({{ display_tab }});
});
</script>
{% endblock %}

{% block extracss %}
<link href="{{ MEDIA_URL }}admin/css/jquery.tabsie.css" rel="stylesheet" type="text/css" />
<link href="{{ MEDIA_URL }}admin/css/jquery.tabs.css" rel="stylesheet" type="text/css" media="print, projection, screen">
{% endblock extracss %}

{% block content %}
<div class="admin_heading">Settings</div>
<div class="admin_subheading1">
  <p class="admin">Configure the basic settings for your board here. You can change the name, upload/remove a logo and publish or un-publish your job board to the web.</p>
  <br/>
  <p>You can also enable and disable the ability for visitors to your board to submit jobs to the board for your approval by checking or un-checking the Allow visitors to submit jobs checkbox.</p>
</div>
<div class="formpadding">
  <div id="container-1">
    <ul>
      <li><a href="#fragment-1"><span>General</span></a></li>
      <li><a href="#fragment-2"><span>Templates</span></a></li>
      <li><a href="#fragment-3"><span>Change Password</span></a></li>
      <li><a href="#fragment-4"><span>Domain Settings</span></a></li>
      <li><a href="#fragment-5"><span>Paypal Account</span></a></li>
    </ul>
	
	<!-- first tab begins -->
    <div id="fragment-1">
      <form action="." method="post" enctype="multipart/form-data">
		{% csrf_token %}
		<input type='hidden' name='form' value='general' />
        <table width="100%" border="0" cellspacing="0" cellpadding="2">
          {% for field in board_form.visible_fields %}
          {% if field.errors %}
          <tr>
            <td> {{ field.errors }} </td>
          </tr>
          {% endif %}
          <tr>
            <td width="170" align="left" valign="top"> {{ field.label }}</td>
            <td align="left" valign="top"> {{ field }} 
			<br />
			{{ field.help_text }}
			</td>
          </tr>
          {% endfor %}
          {% for field in form.visible_fields %}
          {% if field.errors %}
          <tr>
            <td> {{ field.errors }} </td>
          </tr>
          {% endif %}
          <tr>
            <td width="170" align="left" valign="top"> {{ field.label }}</td>
            <td align="left" valign="top"> {{ field }} 
			<br />
			{{ field.help_text }}
			</td>
          </tr>
          {% endfor %}
          <tr>
            <td>&nbsp;</td>
            <td><input type='submit' value='Save'/>
          </tr>
        </table>
      </form>
    </div>
	<!-- first tab ends -->
	
	<!-- second tab begins -->
    <div id="fragment-2">
      <p>coming soon...</p>
    </div>
	<!-- second tab ends -->
	
	<!-- third tab begins -->
    <div id="fragment-3">
	  <form action='.' method='post'>
		{% csrf_token %}
		<input type='hidden' name='form' value='change_password' />
		<table width="100%" border="0" cellspacing="0" cellpadding="2">
		  {{ password_change_form }}
		  <tr>
			<td>&nbsp;</td>
			<td><input type="submit" name="button" id="button" value="Save" /></td>
		  </tr>
		</table>
	  </form>
    </div>
	<!-- third tab ends -->
  	
	<!-- fourth tab begins -->
    <div id="fragment-4">
	  <form action='.' method='post'>
		{% csrf_token %}
		<input type='hidden' name='form' value='set_domain' />
		<table width="100%" border="0" cellspacing="0" cellpadding="2">
		  {{ domain_form }}
		  <tr>
			<td>&nbsp;</td>
			<td><input type="submit" name="button" id="button" value="Save" /></td>
		  </tr>
		</table>
	  </form>
    </div>
	<!-- fourth tab ends -->
	
	<!-- fifth tab begins -->
    <div id="fragment-5">
      <p>coming soon...</p>
    </div>
	<!-- fifth tab ends -->
	
  </div>
</div>
{% endblock content %}