{% extends 'zobpress/base.html' %}

{% block title %} Add New Job - {{ block.super }} {% endblock %}
{% load compress %}

{% block extrascript %}
	{% compress js %}
		<script type="text/javascript" src="{{ MEDIA_URL }}tiny_mce/jquery.tinymce.js"></script>
	{% endcompress %}
{% endblock %}

{% block toptab %}


{% endblock %}

{% block content %}
<div class="admin_heading">Add New Job</div>
<div class="admin_subheading1">
  <p class="admin"> Enter Your details. Enter as much information as possible. Every one likes to know more, before they take a job! </p>
</div>
<div class="post"> <br />
  <form action="." method="post" enctype="multipart/form-data">
    <div class="form">
	  <fieldset class="addjob">
	  <legend class="legendfront">Job Details</legend>
      <table border="0" cellpadding="0" cellspacing="5" >
        {% for field in  job_static_form.visible_fields %}
        
        {% if field.errors %}
        
        {% endif %}
        <tr>
          <td align="left" valign="middle">&nbsp;</td>
          <td align="left" valign="top"><ul>
              {{ field.errors }}
            </ul></td>
        </tr>
        <tr>
          <td width="250" align="left" valign="middle"> {{ field.label_tag }} :</td>
          <td align="left" valign="top" class="textfield"> {{ field }}
            <br/>{% if field.help_text %}<span class="help">{{ field.help_text }} :</span>{% endif %} </td>
        </tr>
        {% endfor %}
        {% for field in form %}
        <tr>
          <td width="200" align="left" valign="middle"> {{ field.label_tag }} : </td>
          <td align="left" valign="top" class="textfield"> {{field}}      <br/>   {% if field.errors %} <span class="errorlist"> {% for error in field.errors %}
            {{ error }}
            {% endfor %} </span> {% endif %} 
            {% if field.help_text %}<span class="help">{{ field.help_text }}</span>{% endif %} </td>
        </tr>
        <div class="clear"></div>
        {% endfor %}
	  </table>
	  </fieldset>
        
	  <fieldset class="addjob">
	  <legend class="legendfront">Contact Details</legend>
	  <table cellspacing="5">
        {% for field in job_contact_form %}
        <tr>
          <td width="150" align="left" valign="middle"> {{ field.label_tag }} : </td>
          <td align="left" valign="top" class="textfield"> {{field}}        {% if field.errors %} <span class="errorlist"> {% for error in field.errors %}
            {{ error }}
            {% endfor %} </span> {% endif %} 
            
            {% if field.help_text %}<span class="help">{{ field.help_text }}</span>{% endif %} </td>
        </tr>
        <div class="clear"></div>
        {% endfor %}
      </table>
	  </fieldset >
      <div align="center"  style="width:350px; padding-top:10px;">
        <input type="submit" value="Submit" name="submit" class="apply" />
      </div>
    </div>
  </form>
</div>
{% endblock %}