{% extends 'zobpress/base.html' %}

{% block title %} Create Page - {{ block.super }} {% endblock title %}

{% block extrascript %}
<script type="text/javascript" src="{{ MEDIA_URL }}tiny_mce/jquery.tinymce.js"></script>
{% endblock extrascript %}

{% block content %}
<div class="admin_heading">Add New Page</div>
<div class="admin_subheading1">
  <p class="admin">Create a new page and add content for the page. </p>
</div>
<table >
  <form method='post'>
   
    <tr>
      <td align="left" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td align="left" valign="top"> {{ form }}</td>
  </tr>
</table>
</td>
    </tr>
    <tr>
      <td align="center" valign="top"><input type='submit' value='Create Page' class="buttonbg" /></td>
    </tr>
  </form>
</table>

{% endblock content %}