{% extends "zobpress/base.html" %}

{% block title %}Edit Category - {{ block.super }}{% endblock %}
{% block content %}
<div class="admin_heading">Edit Category</div>
<div class="admin_subheading1">
  <p class="admin"> Here You can edit your category </p>
</div>
<div class="div_toppading">
  <form action="." method="post">
    <table>
    {{ form }}
    <tr>
      <td>&nbsp;</td>
      <td><input type="submit" name="edit" value="Edit category" class="redbutton" /></td>
    </tr>
    </table>
  </form>
</div>
{% endblock %} 