{% extends 'zobpress/base.html' %}

{% block title %} Edit Page - {{ board.name }} {% endblock title %}

{% block extrascript %}
<script type="text/javascript" src="{{ MEDIA_URL }}tiny_mce/jquery.tinymce.js"></script>
{% endblock extrascript %}

{% block content %}
<h2>Create Page</h2>
<table>
  <form method='post'>
    {{ form }}
    <tr>
      <td>&nbsp;</td>
      <td><input type='submit' value='Edit Page' />
      <br /><br /><input name='delete' type='submit' value='Delete this page' /></td>
    </tr>
  </form>
</table>
{% endblock content %}