{% extends "zobpress/base.html" %}

{% block title %} 
{% if job.name %}
List of Applicants to {{ job.name }} - {{ block.super }} 
{% else %}
List of all Applicants to {{board}}
{% endif %}
{% endblock %}

{% block content %}
<div class="admin_heading">Applicants List</div>
<div class="admin_subheading1">
  <p class="admin">
{% if job.name %}
List of Applicants to {{ job.name }} - {{ block.super }} 
{% else %}
List of all Applicants to board: {{board}}
{% endif %}
</div>

<ul>
{% for applicant in job.applicant_set.all %}
  <li>{{ applicant.name }} - {{ applicant.email }} - {{ applicant.response }}</li>
{% empty %}
<br /><br /><br />
Doh! Nobody has applied, yet!
{% endfor %}
</ul>


{% endblock %}

